#Eureka_Stars .item img {
	height: 142px;
	width: 142px !important;
	border-radius: 50%;
	border: 1px solid #ddd;
}

.course-img-list img {
    width: 60%;
    height: 100%;
}


.logout{
    display: contents;
}

.resume {
    background: #ff7360;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    border: none;
    font-weight: 700;
    border-radius: 30px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -22px;
    cursor: pointer;
    width: 50%;
}

.resume:hover {
    background: #435274;
    color:#fff;
}

.sessions-lessons a{
	color: #435274;
}

.radio-part label {
    width: auto;
    border-radius: 3px;
    border: 0;
}


.radio-part input.radio:empty {
    margin-left: -999px;
}


 .radio-part input.radio:empty ~ label {
    line-height: 2.5em;
    text-indent: 40px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    margin-bottom: 0;
}
.radio-part input.radio:empty ~ label::before {
    position: absolute;
    display: block;
    top: 7px;
    bottom: 0;
    left: 9px;
    content: '';
    width: 22px;
    background: #D1D3D4;
    border-radius: 50%;
    height: 22px;
}
 .quiz-modal .modal-footer .rewatchbtn {
    background: #eee;
    border-radius: 30px;
    padding: 7px 25px 4px;
}


/*input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}*/

.radio-part input.radio:hover:not(:checked) ~ label {
    color: #888;
}

.radio-part input.radio:checked ~ label::before {
    content: '';
    /* text-indent: 9px; */
    color: #fff;
    background-color: #fff;
    /* left: 0; */
    padding: -8px;
    border: 5px solid #ff7360;
}

.radio-part input.radio:checked ~ label {
    color: #777;
}

/*.radio-part input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
*/        
div.radio-part {
    display: block;
    width: 100%;
}
 #quiz-modal .modal-footer {
    justify-content: space-between;
}

 .quiz-modal .model-header {
    background: #435274;
    padding: 20px 10px 0 20px;
    color: #fff;
    font-size: 21px;
}


.quiz-modal .modal-body {
    padding: 0;
}

.quiz-modal .quiz-body {
    padding: 0 20px;
}

.quiz-modal .quiz-body p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ff7360;
}

.quiz-modal .modal-footer .nextbtn {
    margin-right: 0;
    background: #ff7360;
    border-radius: 30px;
    padding: 5px 30px 02px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.course-list .chapter-img img {
    border-radius: 20px;
    width: 155px;
    height: 130px;
}

.owl-carousel .owl-item .coursesbox img {

    height: 180px;
}

#aboutslider .owl-nav button i.arrowactive {
    color: #ff7360;
    transform: scale(1.5);
    margin-top: 2px;
    display: block;
}

#aboutslider .owl-nav button:hover i.arrowactive {
    color: #ff7360;
    transform: scale(1.05);
    margin-top: 2px;
    display: block;
}

 .Energeyimg img {
    border-radius: 15px 0 0 15px;
    /* height: 100% !important; */
    width: 100%;
    height: 100%;
}

 .yt_player_iframe {
    border-radius: 20px 20px 0 0;
    border: none;
    height: 196px;
}



 .yt_player_iframe1 {
  
    height: 396px;
}

.course-btn-download { color: #ff7360; font-weight: 500; font-size: 16px; margin-right: 15px; }
.course-btn-download img { padding-right: 5px; vertical-align: top; }

#country-input1 option, .selection
{
    width: 100%;
}

.visa-img{
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 5px;
    cursor: grab;
        margin: 50px;
}
.captiontext a{display: table;}
.Renewable_Energey_Courses .Energeytext button{ bottom: -25px; }

.eureka-static-page p span{ 
    color: #ef2992; 
    font-size: 20px; 
    text-transform: uppercase; 
}

.flowplayer-fatal { margin-bottom: 20px; }

iframe { margin: 20px 0; }
.error {
    color: red;
}

.cursor{
    cursor:pointer;
}
#vision_partner { margin-bottom: 60px; margin-top: 30px; }


#vision_partner .owl-nav .owl-prev { position: absolute; left: -50px; top: 50px; color: #dcdcdc; }
  #vision_partner .owl-nav .owl-next { position: absolute; right: -50px; top: 50px; color: #dcdcdc; } 
  #vision_partner .owl-nav button { font-size: 44px; height: 36px; width: 36px; }
   #vision_partner .owl-nav button:hover { color: #ff7360; transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5); }

   #vision_partner.owl-dots.disabled, #vision_partner .owl-nav.disabled { display: block; }

   
 @media screen and (max-width: 767px) {
 .course-list .chapter-img img {
    border-radius: 5px;
    height: auto;
}

}