@media only screen and (min-width:1920px) {}
@media only screen and (min-width:1600px) and (max-width:1900px) {}
@media only screen and (min-width:1300px) and (max-width:1367px) {
  .lessons-need-sliders .lessons-slider-area {
    padding-left: 110px;
  }
  .lessons-need-sliders .style-half .main-pic img {
    height: 175px;
  }
  #lessons-two .owl-nav {
	right: 15%;
}
}
@media only screen and (min-width:1200px) and (max-width:1280px) {}
@media screen and (max-width: 1024px) {
	
  .lessons-need-sliders .lessons-slider-area {
    padding-left: 30px;
  }
  .lessons-need-sliders .style-half {
    display: inline-flex;
    padding: 0 8px;
    margin-bottom: 20px;
  }
  .banner {
    background: url("../images/banner-img.png") no-repeat #fff3e5;
    background-position: right center;
    height: 550px;
    background-size: 65% auto;
  }
  #Eureka_Stars .owl-nav .owl-next {
    right: -20px;
  }
  #Eureka_Stars .owl-nav .owl-prev {
    left: -25px;
  }
  .captiontext aside {
    margin: 70px 0 10px;
  }
  .chaper-lesson {
    margin-top: -90px;
  }
  .course-list .chapter-img {
    width: 55%;
  }
  .course-list .chapter-detail .capter-title {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .inner-header .navbar-light .navbar-nav .nav-link {
    margin-right: 30px
  }
  .lessons-need-sliders .lessons-slider-area {
    padding-left: 30px;
  }
  .lessons-need-sliders .style-half {
    display: inline-flex;
  }
  .lessons-need-sliders .style-half .main-pic {
    width: 63px;
    align-items: center;
    display: flex;
  }
  .lessons-need-sliders .style-half .main-pic img {
    height: 140px;
  }
  .lessons-need-sliders .product-title span {
    color: #435274;
    display: block;
    margin-bottom: 10px;
  }
  .lessons-need-sliders .product-title p {
    margin-bottom: 10px;
  }
  .lessons-need-sliders .product-title .sub-unsub span {
    font-size: 26px;
    margin: 5px 0 0;
    line-height: 24px;
  }
  .nxt-pre-slider h4 {
    font-size: 22px;
  }
  .nxt-pre-slider.left::after, .nxt-pre-slider.right::after {
    font-size: 24px;
  }
  .nxt-pre-slider.left {
    padding-left: 90px;
  }
  .nxt-pre-slider.right {
    padding-right: 90px;
  }
  .nxt-pre-slider.left::after {
    left: 90px;
  }
  #lessons-two .owl-nav {
	right: 7%;
}
}
@media screen and (max-width: 991px) {
  .mobbardiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .captiontext aside {
    font-size: 36px;
    line-height: 40px;
    margin: 30px 0 10px;
  }
  .banner {
    background: url("../images/banner-img.png") no-repeat #fff3e5;
    background-position: right bottom;
    height: 400px;
    background-size: 60% auto;
  }
  .navbar-light .navbar-nav .nav-link {
    margin: 0;
  }
  .navbar-light .navbar-nav .nav-link::after {
    display: none;
  }
  .searchdiv {
    top: 90%;
  }
  .navbar-toggler {
    padding: 0;
    border: none;
  }
  .test_control .carousel-control-prev, .test_control .carousel-control-next {
    position: initial;
    width: auto;
    display: inline-block;
    font-size: 36px;
    color: #dcdcdc;
    margin-right: 8px;
  }
  .about_eureka {
    padding: 30px 0;
  }
  .chaper-lesson {
    margin-top: 0;
    width: 50%;
    margin: 0 auto;
  }
  .you-will-learn ul li {
    display: block;
    margin: 0 0px 40px 0;
    width: 100%;
  }
  .testi-slider {
    margin-top: 20px;
  }
  .course-list .chapter-img {
    width: 100%;
  }
  .chapter-detail {
    margin-left: 15px;
  }
  .comntitle {
    font-size: 24px;
  }
  #lessons-two .owl-nav {
    top: -63px;
    right: 44%;
  }
  .next-pre .carousel-control-prev-icon, .next-pre .carousel-control-next-icon {
    width: 35px;
    height: 25px;
  }
  .nxt-pre-slider.left {
    padding-left: 60px;
  }
  .nxt-pre-slider.right {
    padding-right: 60px;
  }
  .nxt-pre-slider.left::after {
    left: 60px;
  }
  .nxt-pre-slider h4 {
    font-size: 20px;
  }
  .playpause {
    top: 30%;
    bottom: auto;
  }
}
@media screen and (max-width: 767px) {
  .mob_Testimonials {
    display: block;
  }
  .Testimonials {
    display: none;
  }
  .banner {
    background: #fff3e5;
    height: auto;
    padding: 15px 0;
  }
  .captiontext aside {
    font-size: 28px;
    line-height: initial;
    margin: 0px 0 10px;
  }
  .navbar {
    padding: 0;
  }
  .navbar-collapse {
    padding: 15px;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 15px;
    z-index: 1;
  }
  .searchdiv {
    top: 240px;
  }
  #aboutslider .owl-nav {
    position: initial;
    margin-top: 20px;
  }
  .aboutslider {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
  }
  #Eureka_Stars .owl-nav .owl-next {
    right: 15px;
  }
  #Eureka_Stars .owl-nav .owl-prev {
    left: 10px;
  }
  .testbox {
    margin-bottom: 25px;
  }
  #mob_Testimonials .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto 25px;
  }
  #mob_Testimonials .owl-nav button {
    font-size: 44px;
    height: 36px;
    width: 36px;
    color: #dcdcdc;
  }
  .Eureka_Stars {
    padding: 30px 0;
  }
  .inputdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  footer input {
    width: 100%;
  }
  footer form button {
    float: none;
    margin: 10px 0;
  }
  .bottom_footer {
    display: block;
    text-align: center;
  }
  .sociallink {
    margin-top: 15px;
  }
  .chaper-lesson {
    width: 95%;
    margin: 0 auto 25px;
  }
  .you-will-learn ul li {
    margin: 0 0px 25px 0;
  }
  #testi-slider .owl-nav {
    position: relative;
    bottom: 0;
    text-align: center;
    top: 20px;
  }
  .course-list .chapter-img img {
    border-radius: 5px;
  }
  .course-list .chapter-detail .capter-title h5 {
    display: block;
  }
  .course-list {
    margin-top: 40px;
  }
  .signup-login {
    margin-left: 0;
  }
  .comntitle {
    font-size: 20px;
  }
  .inner-quick-links a {
    margin-left: 10px;
  }
  .playpause {
    top: 20%;
    bottom: auto;
  }
  .lessons-need-sliders .lessons-slider-area {
    flex-wrap: wrap;
    padding-left: 00px;
  }
  #lessons-two {
    margin-top: 90px;
  }
  .lessons-need-sliders .style-half {
    display: flex;
    padding: 0 8px;
    margin-bottom: 30px;
  }
  #lessons-two .owl-nav {
    top: auto;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
    left: 0;
    width: 20%;
  }
  .nxt-pre-slider.left, .nxt-pre-slider.right {
    padding-left: inherit;
    padding-right: inherit;
  }
  .nxt-pre-slider {
    padding: 40px 20px 20px 20px;
    margin-bottom: 20px;
  }
  .nxt-pre-slider p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .nxt-pre-slider h4 {
    font-size: 16px;
  }
  .nxt-pre-slider.left::after, .nxt-pre-slider.right::after {
    left: 15px;
    font-size: 20px;
    top: 10px;
  }
  .next-pre .carousel-control-prev, .next-pre .carousel-control-next {
    top: auto;
    bottom: -18px;
  }
  .next-pre .carousel-control-prev {
    left: 40%;
  }
  .next-pre .carousel-control-next {
    right: 40%;
  }
}
@media screen and (max-width:480px) {}
@media screen and (max-width:360px) {}