@media only screen and (min-width:1920px) {}
@media only screen and (min-width:1600px) and (max-width:1900px) {}
@media only screen and (min-width:1300px) and (max-width:1367px) {
  .lessons-need-sliders .lessons-slider-area {
    padding-left: 110px;
  }
  .lessons-need-sliders .style-half .main-pic img {
    height: 175px;
  }
  #lessons-two .owl-nav {
	right: 15%;
}
}
@media only screen and (min-width:1200px) and (max-width:1280px) {
  .Renewable_Energey_Courses { margin: 50px 0 100px; }
}
@media screen and (max-width: 1024px) {
	
  .lessons-need-sliders .lessons-slider-area {
    padding-left: 30px;
  }
  .lessons-need-sliders .style-half {
    display: inline-flex;
    padding: 0 8px;
    margin-bottom: 20px;
  }
  .banner {
    background: url("../images/banner-img.png") no-repeat #fff3e5;
    background-position: right center;
    height: 550px;
    background-size: 65% auto;
  }
  #Eureka_Stars .owl-nav .owl-next {
    right: -20px;
  }
  #Eureka_Stars .owl-nav .owl-prev {
    left: -25px;
  }
  .captiontext aside {
    margin: 70px 0 10px;
  }
  .chaper-lesson {
    margin-top: -90px;
  }
  .course-list .chapter-img {
    width: 20%;
  }
  
  .course-list .chapter-detail {
	width: 80%;
}
  .course-list .chapter-detail .capter-title {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .inner-header .navbar-light .navbar-nav .nav-link {
    margin-right: 30px
  }
  .lessons-need-sliders .lessons-slider-area {
    padding-left: 30px;
  }
  .lessons-need-sliders .style-half {
    display: inline-flex;
    width: 100%;
  }
  .lessons-need-sliders .style-half .main-pic {
    width: 63px;
    align-items: center;
    display: flex;
  }
  .lessons-need-sliders .style-half .main-pic img {
    height: 140px;
  }
  .lessons-need-sliders .product-title span {
    color: #435274;
    display: block;
    margin-bottom: 10px;
  }
  .lessons-need-sliders .product-title p {
    margin-bottom: 10px;
  }
  .lessons-need-sliders .product-title .sub-unsub span {
    font-size: 20px;
    margin: 5px 0 0;
    line-height: 24px;
  }
  .nxt-pre-slider h4 {
    font-size: 22px;
  }
  .nxt-pre-slider.left::after, .nxt-pre-slider.right::after {
    font-size: 24px;
  }
  .nxt-pre-slider.left {
    padding-left: 90px;
  }
  .nxt-pre-slider.right {
    padding-right: 90px;
  }
  .nxt-pre-slider.left::after {
    left: 90px;
  }
  #profile_courses .owl-nav .owl-next {
    right: -30px;
    font-size: 26px;
  }
  #profile_courses .owl-nav .owl-prev {
    left: -30px;
    font-size: 26px;
  }
  .Shopping_Cart .style-half{
    width: 100%;
    padding: 0;
  }
  .Shopping_Cart .style-half .main-pic {
    width: 30%; 
  }
  .Shopping_Cart .style-half .product-title {
    width: 70%;
  }
  .Shopping_Cart .number span {
    display: inline-block;
    color: #fff;
    margin: 0 -5px;
  }
  .number input {
    width: 50px;
    font-size: 20px;
  }
  .buycourses strong {
    font-size: 24px;
    line-height: 26px;
  }
  .buycourses button {
    padding: 8px 5px;
    bottom: -5px;
    max-width: 170px;
  }
  .Energeytext p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
  }
  .Energeytext button {
    padding: 8px 5px;
    bottom: -30px;
    max-width: 170px;
  }
  .Energeytext h2 ,
  .Energeytext strong{
    font-size: 24px;
  }
  #Related_items {
    padding-left: 50px;
  }
  .Included_Items #lessons-two .owl-nav ,
  #Related_items .owl-nav{
    right: 40px;
  }
  .Related_items {
    margin: 50px 0;
  }
  .kittext h2{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .kittext span {
    margin-bottom: 15px;
  }
  .captiontext aside { 
    margin: 40px 0 10px; 
    font-size: 36px; 
    line-height: initial; 
  }
  .aboutslider h4 { 
    font-size: 26px; 
  }
  .Renewable_Energey_Courses { 
    margin: 0px 0 100px; 
  }
  .about_eureka { 
    padding: 20px 0 30px; 
  }
  .Renewable_Energey_Courses ul { 
    margin-top: 20px; 
  }
  .Renewable_Energey_Courses li { 
    margin-bottom: 50px; 
  }
  .productlist { padding: 50px 0; }
  .Shopping_Cart { background: none; padding-top: 0; }
  .course-list { margin-top: 30px; }
  .inner-development { padding-top: 10px; }
  .eureka-static-page { padding-top: 30px; }
  .topic-chapter { margin-top: 20px; }
}

@media screen and (max-width: 991px) {
  .mobbardiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .captiontext aside {
    font-size: 36px;
    line-height: 40px;
    margin: 30px 0 10px;
  }
  .banner {
    background: url("../images/banner-img.png") no-repeat #fff3e5;
    background-position: right bottom;
    height: 400px;
    background-size: 60% auto;
  }
  .navbar-light .navbar-nav .nav-link {
    margin: 0;
  }
  .navbar-light .navbar-nav .nav-link::after {
    display: none;
  }
  .searchdiv {
    top: 90%;
  }
  .navbar-toggler {
    padding: 0;
    border: none;
  }
  .test_control .carousel-control-prev, .test_control .carousel-control-next {
    position: initial;
    width: auto;
    display: inline-block;
    font-size: 36px;
    color: #dcdcdc;
    margin-right: 8px;
  }
  .about_eureka {
    padding: 30px 0;
  }
  .chaper-lesson {
    margin-top: 0;
    width: 50%;
    margin: 0 auto;
  }
  .you-will-learn ul li {
    display: block;
    margin: 0 0px 40px 0;
    width: 100%;
  }
  .testi-slider {
    margin-top: 20px;
  }
  .course-list .chapter-img {
    width: 20%;
  }
  .chapter-detail {
    margin-left: 15px;
  }
  .comntitle {
    font-size: 24px;
  }
  #lessons-two .owl-nav {
    top: -63px;
    right: 44%;
  }
  .next-pre .carousel-control-prev-icon, .next-pre .carousel-control-next-icon {
    width: 35px;
    height: 25px;
  }
  .nxt-pre-slider.left {
    padding-left: 60px;
  }
  .nxt-pre-slider.right {
    padding-right: 60px;
  }
  .nxt-pre-slider.left::after {
    left: 60px;
  }
  .nxt-pre-slider h4 {
    font-size: 20px;
  }
  .playpause {
    top: 30%;
    bottom: auto;
  }
  .user_detail h4 {
    margin: 10px 0;
  }
  .Accomplishments li{
    padding: 30px 25px;
  }
  .Accomplishments li h3{
    font-size: 20px;
  }
  .address_details{
    margin: 0;
  }
  .buycourses button {
    position: inherit;
  }
  .Renewable_Energey_Courses li { 
    width: 45%; 
    display: inline-flex; 
    margin: 2%; 
    text-align: center; 
    flex-direction: column; 
  }
  .Energeyimg, .Energeytext {
    width: 100%;
    float: none;
  }
  .Energeyimg img {
    border-radius: 0;
  } 
  .Energeytext {
    padding: 15px;
  }
  .Energeytext p {
    font-size: 14px;
    line-height: inherit;
  }
  .Energeytext button {
    position: initial;
    margin-top: 15px;
  }
  .Renewable_Energey_Courses {
    margin: 50px 0;
  }
 .gallery  .content{
  padding-left: 0px;
}
.filters li{
  padding: 7px 15px;
  font-weight: 900;
  font-size: 15px;
}
.captiontext aside { font-size: 32px; line-height: 30px; margin: 0px 0 10px; }
.banner{ 
    height: 450px; 
  }
  .Eureka_Stars { padding: 30px 0; }
  .Testimonials { margin-bottom: 50px; }
  .Included_Items #lessons-two .owl-nav { top: -70px; }
  .Included_Items h5 { margin-bottom: 20px; }
  .inner-development { padding-top: 10px; }
}
@media screen and (max-width: 767px) {
  .mob_Testimonials {
    display: block;
  }
  .Testimonials {
    display: none;
  }
  .banner {
    background: #fff3e5;
    height: auto;
    padding: 15px 0;
  }
  .captiontext aside {
    font-size: 28px;
    line-height: initial;
    margin: 0px 0 10px;
  }
  .navbar {
    padding: 0;
  }
  .navbar-collapse {
    padding: 15px;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 15px;
    z-index: 5;
  }
  .searchdiv {
    top: 240px;

  }
  #aboutslider .owl-nav {
    position: initial;
    margin-top: 20px;
  }
  .aboutslider {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
  }
  #Eureka_Stars .owl-nav .owl-next {
    right: 15px;
  }
  #Eureka_Stars .owl-nav .owl-prev {
    left: 10px;
  }
  .testbox {
    margin-bottom: 25px;
  }
  #mob_Testimonials .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto 25px;
  }
  #mob_Testimonials .owl-nav button {
    font-size: 44px;
    height: 36px;
    width: 36px;
    color: #dcdcdc;
  }
  .Eureka_Stars {
    padding: 30px 0;
  }
  .inputdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  footer input {
    width: 100%;
  }
  footer form button {
    float: none;
    margin: 10px 0;
  }
  .bottom_footer {
    display: block;
    text-align: center;
  }
  .sociallink {
    margin-top: 15px;
  }
  .chaper-lesson { 
    width: 100%; 
    margin: 25px auto; 
  }
  .you-will-learn ul li {
    margin: 0 0px 25px 0;
  }
  #testi-slider .owl-nav {
    position: relative;
    bottom: 0;
    text-align: center;
    top: 20px;
  }
  .course-list .chapter-img img {
    border-radius: 5px;
  }
  .course-list .chapter-detail .capter-title h5 {
    display: block;
  }
  .course-list {
    margin-top: 40px;
  }
  .signup-login {
    margin-left: 0;
  }
  .comntitle {
    font-size: 20px;
  }
  .inner-quick-links a {
    margin-left: 10px;
  }
  .playpause {
    top: 20%;
    bottom: auto;
  }
  .lessons-need-sliders .lessons-slider-area {
    flex-wrap: wrap;
    padding-left: 00px;
  }
  #lessons-two {
    margin-top: 90px;
  }
  .lessons-need-sliders .style-half {
    display: flex;
    padding: 0 8px;
    margin-bottom: 30px;
  }
  #lessons-two .owl-nav,
  #Related_items .owl-nav {
  top: auto;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
  left: 0;
  width: 20%;
} 
/* {
    top: auto;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
    left: 0;
    width: 20%;
  } */
  .nxt-pre-slider.left, .nxt-pre-slider.right {
    padding-left: inherit;
    padding-right: inherit;
  }
  .nxt-pre-slider {
    padding: 40px 20px 20px 20px;
    margin-bottom: 20px;
  }
  .nxt-pre-slider p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .nxt-pre-slider h4 {
    font-size: 16px;
  }
  .nxt-pre-slider.left::after, .nxt-pre-slider.right::after {
    left: 15px;
    font-size: 20px;
    top: 10px;
  }
  .next-pre .carousel-control-prev, .next-pre .carousel-control-next {
    top: auto;
    bottom: -18px;
  }
  .next-pre .carousel-control-prev {
    left: 40%;
  }
  .next-pre .carousel-control-next {
    right: 40%;
  }
  #profile_courses .owl-nav .owl-next {
    right: -10px;
    font-size: 26px;
  }
  #profile_courses .owl-nav .owl-prev {
    left: -10px;
    font-size: 26px;
  }
  .user_img {
    text-align: center;
    margin-bottom: 20px;
  }
  a.setting {
    position: initial;
    margin-bottom: 10px;
    display: inline-block;
  }
  .Renewable_Energey_Courses li {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .slider_data {
    margin-top: 30px;
  }
  .kitimg{
    margin-bottom: 30px;
  }
  .Included_Items #lessons-two .owl-nav, #Related_items .owl-nav {
    position: initial;
  }
  .Included_Items h5 {
    margin-bottom: 10px;
  }
  .Included_Items #lessons-two {
    margin-top: 0;
  }
  #Related_items {
    padding-left: 25px;
    margin-top: 20px;
  }
  .productlist {
    padding: 40px 0;
  }
  .portfolio-slides li {
    width: 50%;
    height: 200px;
  }
.modal-dialog {
	padding: 15px;
}
.use-play-1.flowplayer-fatal { margin: 15px 0; }
.course-list .chapter-detail { width: 100%; margin: 0; }
.course-list li { display: block; text-align: center; }
.course-list .chapter-img { width: 70px; margin: 0 auto 20px; padding: 0; }
.course-list .chapter-img .date1{float: none;}
.course-list .chapter-detail .capter-title span { float: none; }
.course-list li .chapter-detail p{margin-bottom: 0;}
.eureka-static-page { padding-top: 30px; }
.topic-chapter h2 { text-align: center; }
.gallery { padding: 30px 0; }
}
@media screen and (max-width:525px) {
  #Related_items {
    padding:0px 15px;
    margin-top: 20px;
  }
   .portfolio-slides li {
    width: 100%;
    height:auto;
  }
  #myGallery img {
	width: 100%;
	height: auto;
}

}
@media screen and (max-width:360px) {}