@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700&display=swap');
@font-face {
  font-family: 'LineIcons';
  src: url('../fonts/LineIcons.eot?y2l643');
  src: url('fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'), url('../fonts/LineIcons.ttf?y2l643') format('truetype'), url('../fonts/LineIcons.woff?y2l643') format('woff'), url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}
a, a:link, a:visited, a:active, a:hover, button, input, select, textarea, i {
  text-decoration: none;
  outline: none;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input, select, textarea {
  width: 100%;
  outline: none;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type="radio"], input[type="checkbox"] {
  width: auto;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
  box-shadow: none;
}
img {
  max-width: 100%;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.comntitle {
  font-size: 28px;
  color: #435274;
  font-weight: bold;
  text-transform: capitalize;
}
.blue_bg {
  background: #435274;
}
.yellow_bg {
  background: #ffc91f;
}
.green_bg {
  background: #2ddca9;
}
.red_bg {
  background: #ff7360;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #ff7360;
}
.navbar-light .navbar-nav .nav-link {
  color: #435274;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-right: 50px;
  padding-top: 0;
}
.navbar-light .navbar-nav .nav-link:after {
  content: "";
  width: 4px;
  height: 4px;
  background: #ff7360;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::after, .navbar-light .navbar-nav .active > .nav-link::after {
  opacity: 1;
}
header {
  background: #fff3e5;
  padding: 20px 0;
  position: relative;
}
.searchdiv {
  background: #fff;
  padding: 20px 0;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 85%;
  box-shadow: 0px 5px 5px #ddd;
}
.serchbox {
  display: flex;
  align-items: center;
}
.serchbox i {
  color: #ff7360;
  font-size: 48px;
  cursor: pointer;
  margin-right: 20px;
}
.serchbox input {
  border: none;
  height: 80px;
  padding: 10px 20px;
  color: #b4b4b4;
  font-size: 20px;
}
.banner {
  background: url("../images/banner-img.png") no-repeat #fff3e5;
  background-position: right bottom;
  height: 625px;
}
.captiontext aside {
  font-size: 48px;
  color: #435274;
  font-weight: bold;
  line-height: 60px;
  margin: 120px 0 10px;
}
.captiontext p {
  font-size: 20px;
  color: #435274;
  font-weight: 300;
}
.captiontext a {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  line-height: 56px;
  font-weight: 600;
}
.captiontext a:hover, .captiontext a:focus {
  background: #435274;
}
.rightmenu a {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  vertical-align: middle;
  color: #435274;
}
.rightmenu a:hover, .rightmenu a:focus {
  color: #ff7360;
}
.rightmenu select {
  font-size: 14px;
  margin-left: 10px;
  width: auto;
  display: inline-block;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.about_eureka {
  padding: 70px 0;
}
.about_eureka p {
  font-size: 16px;
  color: #435274;
}
.aboutslider {
  width: 72%;
  margin-top: 30px;
}
.aboutslider h4 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.aboutbox {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.aboutslider a {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230px;
}
#aboutslider .owl-nav {
  position: absolute;
  right: -150px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
#aboutslider .owl-nav button {
  font-size: 44px;
  height: 36px;
  width: 36px;
  color: #dcdcdc;
}
#aboutslider .owl-nav button:hover {
  color: #ff7360;
  transform: scale(1.5);
  margin-top: -4px;
}
.aboutslider a img {
  width: auto !important;
  position: absolute;
  bottom: 0;
  right: 0;
}
.courses {
  background: #f4f4f4;
  padding: 35px 0;
}
#courses {
  margin-top: 40px;
}
#courses .owl-dots {
  text-align: center;
  margin-top: 25px;
}
#courses .owl-dots .owl-dot span {
  background: #435274;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  width: 12px;
}
#courses .owl-dots .owl-dot.active span {
  background: #ff7360;
}
.coursesbox {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.coursesbox h4 {
  font-size: 16px;
  color: #ff7360;
  font-weight: bold;
  margin-bottom: 15px;
}
.coursesbox p {
  font-size: 14px;
  color: #435274;
  font-weight: 300;
  line-height: 20px;
  margin: 10px 0;
  height: 60px;
  overflow: hidden;
}
.coursesbox aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #435274;
  font-weight: 300;
}
.coursesbox aside span {
  font-size: 16px;
  color: #435274;
  font-weight: 400;
}
.coursesbox a {
  font-size: 14px;
  color: #fff;
  background: #ff7360;
  font-weight: bold;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: absolute;
  bottom: -12px;
  right: 20px;
}
.coursesbox a:hover {
  background: #435274;
}
#courses .owl-stage-outer {
  padding-bottom: 20px;
}
a.viewall {
  font-weight: bold;
  color: #ff7360;
  font-size: 16px;
  float: right;
  margin-top: 20px;
}
a.viewall:hover {
  color: #435274;
}
.Eureka_Stars {
  padding: 70px 0;
}
#Eureka_Stars {
  margin-top: 30px;
}
.starbox {
  text-align: center;
}
.starbox img {
  width: auto !important;
  margin: 0 auto 10px;
}
.starbox span {
  font-size: 16px;
  color: #435274;
  display: block;
}
.starbox small {
  font-size: 14px;
  color: #707070;
  display: block;
  margin-bottom: 5px;
}
.starbox h4 {
  font-size: 15px;
  color: #ff7360;
  font-weight: bold;
  margin-bottom: 15px;
}
#Eureka_Stars .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  top: 50px;
  color: #dcdcdc;
}
#Eureka_Stars .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  top: 50px;
  color: #dcdcdc;
}
#Eureka_Stars .owl-nav button {
  font-size: 44px;
  height: 36px;
  width: 36px;
}
#Eureka_Stars .owl-nav button:hover {
  color: #ff7360;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
footer {
  background: #f4f4f4;
  padding: 40px 0 30px;
}
footer h6 {
  font-size: 14px;
  color: #435274;
  font-weight: 300;
  margin-bottom: 20px;
}
footer a {
  font-size: 14px;
  color: #ff7360;
  font-weight: 300;
  display: table;
  margin-bottom: 7px;
}
footer textarea {
  border: none;
  background: #fff;
  margin-bottom: 10px;
  padding: 8px 15px;
  height: 80px;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 300;
  resize: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
footer input {
  border: none;
  background: #fff;
  margin-bottom: 10px;
  padding: 5px 15px;
  height: 40px;
  width: 47%;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 300;
  resize: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inputdiv {
  display: flex;
  justify-content: space-between;
}
footer form button {
  float: right;
  font-size: 14px;
  color: #fff;
  background: #ff7360;
  font-weight: bold;
  padding: 2px 23px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
footer form button:hover {
  background: #435274;
}
.bottom_footer {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otherlink a {
  font-size: 14px;
  color: #ff7360;
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.otherlink a::after {
  content: "";
  width: 1px;
  height: 70%;
  background: #435274;
  position: absolute;
  top: 15%;
  right: -10px;
}
.otherlink a:last-child {
  margin: 0;
}
.otherlink a:last-child::after {
  display: none;
}
.sociallink a {
  margin-left: 20px;
}
.Testimonials {
  position: relative;
  margin-bottom: 100px;
}
.Testimonials::after {
  content: "";
  width: 50%;
  height: 100%;
  background: #435274;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 15px 0 0 15px;
  z-index: -1;
}
.testbox {
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  padding: 25px;
  margin-bottom: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.testbox p {
  line-height: 22px;
  height: 66px;
  overflow: hidden;
  margin: 0;
}
#carouselExampleControls {
  margin-top: 60px;
}
.test_control {
  position: absolute;
  right: 0;
  bottom: 90px;
  z-index: 2;
}
.test_control .carousel-control-prev, .test_control .carousel-control-next {
  position: initial;
  width: auto;
  display: inline-block;
  font-size: 48px;
  color: #dcdcdc;
  margin-right: 15px;
}
.test_control .carousel-control-prev:hover, .test_control .carousel-control-next:hover {
  color: #ff7360;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.mob_Testimonials {
  display: none;
}
/*inner*/
header.inner-header {
  background: #fff;
}
.inner-banner img {
  width: 100%;
}
.signup-login {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 0;
}
.signup-login li {
  display: inline-block;
}
.signup-login li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #ff7360;
  margin-right: 0;
}
.signup-login li a:hover {
  color: #435274;
}
.signup-login .login-btn a {
  padding: 5px 35px;
  background: #ff7360;
  border-radius: 30px;
  color: #fff;
  margin-right: 20px;
}
.signup-login .login-btn a:hover {
  background: #435274;
  color: #fff;
}
.inner-development {
  padding: 40px 0;
}
.chaper-lesson {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  margin-top: -160px;
  padding-bottom: 40px;
  position: relative;
}
.chaper-lesson img {
  border-radius: 20px 20px 0 0;
  margin-bottom: 20px;
}
.chaper-lesson p {
  font-size: 16px;
}
.chaper-lesson h3 {
  font-size: 28px;
  font-weight: 700;
  color: #435274;
  text-transform: capitalize;
}
.chaper-lesson button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -22px;
  cursor: pointer;
}
.chaper-lesson button:hover {
  background: #435274;
}
.you-will-learn {
  margin-top: 20px;
}
.you-will-learn h4 {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
}
.you-will-learn ul {
  margin-top: 40px;
}
.you-will-learn ul li {
  width: 45%;
  display: inline-block;
  margin: 0 40px 40px 0;
  font-size: 16px;
  color: #435274;
  position: relative;
  padding-left: 40px;
}
.you-will-learn ul li:after {
  position: absolute;
  left: 0;
  content: '';
  background: url("../images/check-arrow.png") no-repeat;
  height: 25px;
  width: 25px;
  top: 5px;
}
.inner-testimonials {
  background: #f4f4f4;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 60px;
}
.testi-slider p {
  font-size: 16px;
  color: #435274;
}
.testi-slider h5 {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
#testi-slider .owl-nav {
  position: absolute;
  right: 0;
  font-size: 44px;
  color: #dcdcdc;
  bottom: -11px;
  line-height: 0;
  background: #f4f4f4;
}
#testi-slider .owl-nav .owl-next {
  margin-left: 15px;
}
#testi-slider .owl-nav button:hover {
  font-size: 60px;
  color: #ff7360;
}
.topic-chapter h4 {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
}
.course-list {
  margin-top: 60px;
}
.course-list h4 {
  margin-bottom: 30px;
}
.course-list li {
  display: flex;
  border-bottom: 5px solid #f4f4f4;
  padding-bottom: 20px;
  margin-top: 20px;
}
.course-list li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.course-list .chapter-img {
  width: 40%;
}
.course-list .chapter-img img {
  border-radius: 20px;
}
.course-list .chapter-detail .capter-title {
  margin-bottom: 15px;
  margin-top: 10px;
}
.course-list .chapter-detail .capter-title h5, .course-list .chapter-detail .capter-title i {
  display: inline-block;
}
.course-list .chapter-detail .capter-title i {
  margin-left: 15px;
  vertical-align: top;
}
.course-list .chapter-detail .capter-title span {
  float: right;
  font-size: 16px;
  color: #435274;
  font-weight: 300;
}
.new-breadcrumb .breadcrumb {
  display: flex;
  justify-content: flex-end;
  background: none;
  padding: 0;
}
.new-breadcrumb .breadcrumb li {
  font-size: 14px;
  color: #435274;
  font-weight: 300;
}
.new-breadcrumb .breadcrumb li a {
  color: #435274;
}
.new-breadcrumb .breadcrumb .breadcrumb-item.active {
  margin-right: 15px;
}
.new-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #435274;
  content: ">";
}
/*lessons*/
h4.comntitle, h5.comntitle {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
}
.inner-quick-links {
  text-align: right;
}
.inner-quick-links a {
  margin-left: 20px;
  font-size: 16px;
  color: #ff7360;
  font-weight: 700;
}
.inner-quick-links a:hover {
  color: #435274;
}
.inner-quick-links a img {
  margin-right: 10px;
  vertical-align: text-bottom;
}
.lessons-video {
  width: 100%;
  margin: 25px 0 20px;
}
.playpause {
  background-image: url("../images/play-button.png");
  background-repeat: no-repeat;
  width: 15%;
  height: 15%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.lessons-need-sliders {
  background: #f4f4f4;
  padding: 40px 0;
}
.lessons-need-sliders .style-full {
  background: #fff;
  border-radius: 20px;
  padding: 20px 0 40px;
  position: relative;
}
.lessons-need-sliders .style-full button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -22px;
  cursor: pointer;
}
.lessons-need-sliders .style-full button:hover {
  background: #435274;
}
.lessons-need-sliders .style-full .main-pic {
  padding: 0 20px;
  text-align: center;
}
.lessons-need-sliders hr.img-btm-part {
  height: 1px;
  color: #f4f4f4;
}
.lessons-need-sliders .product-title {
  padding: 0 20px;
}
.lessons-need-sliders .product-title h4 {
  color: #ff7360;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}
.lessons-need-sliders .product-title p {
  font-size: 16px;
  color: #435274;
}
.lessons-need-sliders .product-title span img {
  margin-right: 5px;
  vertical-align: text-bottom;
  display: initial;
  width: auto;
}
.lessons-need-sliders .product-title span {
  color: #435274;
  display: block;
  margin-bottom: 25px;
}
.lessons-need-sliders .product-title .sub-unsub {
  display: flex;
}
.lessons-need-sliders .product-title .sub-unsub p {
  margin-right: 12px;
  padding-right: 12px;
  font-size: 14px;
  border-right: 1px solid #bab9c1;
  margin-bottom: 0;
}
.lessons-need-sliders .product-title .sub-unsub p:last-child {
  border-right: 0px solid #bab9c1;
}
.lessons-need-sliders .product-title .sub-unsub span {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0 0;
  line-height: 26px;
}
.lessons-need-sliders .lessons-slider-area {
  padding-left: 380px;
  display: flex;
  margin-top: 20px;
}
.lessons-need-sliders .style-half {
  display: flex;
  padding: 0 20px;
  margin-bottom: 25px;
}
.lessons-need-sliders .style-half .main-pic {
  padding: 20px 8px 20px 0px;
  border-right: 1px solid #bab9c1;
}
.lessons-need-sliders .style-half .main-pic img {
  height: 190px;
}
.lessons-need-sliders .style-half .product-title {
  padding: 20px;
}
.lessons-need-sliders .style-half button {
  background: rgba(225, 115, 96, 0.5);
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  left: auto;
  right: 20px;
  bottom: -15px;
  cursor: pointer;
}
.lessons-need-sliders .style-half button:hover {
  background: rgba(225, 115, 96, 1);
}
#lessons-two .owl-nav {
  display: flex;
  position: absolute;
  top: -51px;
  right: 37%;
}
#lessons-two .owl-nav button {
  font-size: 44px;
  height: 36px;
  width: 36px;
  color: #dcdcdc;
}
#lessons-two .owl-nav button.owl-prev {
  margin-right: 20px;
}
#lessons-two .owl-nav button:hover {
  color: #ff7360;
  transform: scale(1.5);
  margin-top: -4px;
}
.lessons-next-pre {
  padding: 60px 0;
}
.nxt-pre-slider {
  background: #f4f4f4;
  padding: 80px 30px 30px 30px;
  border-radius: 20px;
  color: #435274;
  position: relative;
}
.nxt-pre-slider.left {
  padding-left: 100px;
}
.nxt-pre-slider.left::after {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  content: 'Previous';
  color: #ff7360;
  z-index: 1;
  top: 30px;
  left: 100px;
}
.nxt-pre-slider.right::after {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  content: 'Next';
  color: #ff7360;
  z-index: 1;
  top: 30px;
  left: 30px;
}
.nxt-pre-slider.right {
  padding-right: 100px;
}
.next-pre {
  position: relative;
}
.next-pre .carousel-control-prev, .next-pre .carousel-control-next {
  width: 8%;
  opacity: 1;
  transition: opacity 0.15s ease;
}
.next-pre .carousel-control-prev-icon, .next-pre .carousel-control-next-icon {
  display: inline-block;
  width: 57px;
  height: 41px;
  background: none;
}
.nxt-pre-slider p {
  font-size: 16px;
}
.nxt-pre-slider h4 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0px;
}