$main1: #2B3FA0;
$main2: #ED2790;
$text: #505050;

@font-face {
	font-family: 'nexalight';
	src: url("../../fonts/nexa-light.otf")
}

//@font-face{
//	font-family: 'nexabold';
//	src: url("/fonts/nexa-bold.otf")
//}
/*Main Rules*/

html,
body {
	font-family: 'nexalight', sans-serif;
	font-size: 18px;
	color: $text;
	padding: 0px;
	margin: 0px;
	cursor: default
}

body {
	position: relative
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.container-fluid {
	//	padding: 0
}

input.form-control,
input.form-control:focus {
	background: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #eee;
	color: #eee;
	box-shadow: none;
	padding-bottom: 0 //test
}

textarea.form-control,
textarea.form-control:focus {
	background: transparent;
	border: 1px solid #eee;
	color: #eee;
	box-shadow: none;
	border-radius: 20px
}

%button {
	border-radius: 30px;
	border-width: 2px;
	font-weight: bold;
	max-width: 100%
}

.main1-white-btn {
	@extend %button;
	color: $main1;
	background-color: #fff;
}

.main1-white-btn:hover {
	color: #fff;
	background-color: $main1;
}

.white-border-btn {
	@extend %button;
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

.main1-border-btn {
	@extend %button;
	color: #fff;
	background-color: transparent;
	border-color: $main1;
}

.main1-border-btn:hover {
	background-color: $main1;
}

.main2-border-btn {
	@extend %button;
	color: #fff;
	background-color: transparent;
	border-color: $main2;
}

.main2-border-btn:hover {
	//	color: $main2;
	//	background-color: #fff;
	//	border-color: #fff;
	//2
	background-color: $main2;
}

.main1-border-btn-dark {
	@extend %button;
	color: $text;
	background-color: transparent;
	border-color: $main1;
}

.main1-border-btn-dark:hover {
	background-color: $main1;
	color: #fff;
}

.main2-border-btn-dark {
	@extend %button;
	color: $text;
	background-color: transparent;
	border-color: $main2;
}

.main2-border-btn-dark:hover {
	//	color: $main2;
	//	background-color: #fff;
	//	border-color: #fff;
	//2
	background-color: $main2;
	color: #fff;
}

/*End Main Rules*/

.top-logo {
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 21;
	background-color: #fff;
	padding: 0 15px 15px 15px;
	border-bottom-left-radius: 63px;
	border-bottom-right-radius: 63px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.home-page header.all-nav,
.level-page header.all-nav,
.free-lesson-page header.all-nav {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}

header.all-nav {

	.nav-item {
		padding: 0 .5rem;
		margin-left: 40px;
		text-align: center;
	} //	.nav-item.active {
	//		border-bottom: 1px solid #fff
	//	}
	.nav-link.active {
		border-bottom: 1px solid #fff
	}
	.navbar-dark .navbar-brand:focus,
	.navbar-dark .navbar-brand:hover {
		color: #fff
	}

	.navbar-dark .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 1);
		font-weight: bold;
		padding: 0;
		padding-bottom: 3px;
		cursor: pointer;
		display: inline-block;
	}

	.navbar-dark .navbar-nav .nav-link:focus,
	.navbar-dark .navbar-nav .nav-link:hover,
	.hover:hover {
		color: rgba(255, 255, 255, .75)
	}

	.navbar-dark .navbar-nav .active > .nav-link,
	.navbar-dark .navbar-nav .nav-link.active,
	.navbar-dark .navbar-nav .nav-link.show,
	.navbar-dark .navbar-nav .show > .nav-link {
		color: #fff
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255, .5);
		border-color: rgba(255, 255, 255, .1)
	}

	.navbar-dark .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
	}

	.navbar-dark .navbar-text {
		color: rgba(255, 255, 255, .5)
	}

	.navbar-dark .navbar-text a {
		color: #fff
	}

	.navbar-dark .navbar-text a:focus,
	.navbar-dark .navbar-text a:hover {
		color: #fff
	}

	.navbar-toggler {
		position: relative
	}
	.fixed-toggler {
		top: 10px;
		position: fixed;
		left: auto;
		right: 18px;
	}
	.nav2 {
		text-align: right;
		background-color: rgba(0, 0, 0, 0.65);
		color: #fff;
		padding: 20px 0;

		.container-fluid {
			//		padding: 0 15px;
			padding-right: 27px
		}
		.follow {
			text-align: right;
			.links {
				margin: 0;
				padding: 0;
			}
			.link {
				display: inline-block;
				padding-left: 5px
			}
			img {
				height: 27px
			}
		}
	}

	.header-nav {
		//		position: absolute
		background-color: rgba(0, 0, 0, 0.65);
		text-align: right;
		padding-bottom: 13px;
		.navbar-dark .navbar-brand {
			color: #fff
		}
	}
	.fixed-nav {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 20;
	}
}

section.home {
	min-height: 100vh;
	background: #000 url("images/main_image.png") 0px 0px/cover no-repeat;
	position: relative;
	z-index: 1;
	padding-bottom: 40px;
	.home-content {
		//		position: absolute;
		//		top: 25%;
		//		padding-top: 30%;
		width: 100%
	}
	.login-title {
		color: #fff;
		font-size: 1.8rem;
		text-transform: capitalize;
		text-align: center;
		font-weight: bold;
		margin-bottom: 30px
	}
}

.header-section {
	border-radius: 25px;
	background-color: rgba(0, 0, 0, .65);
	color: #eee;
	padding: 20px;
	width: 100%; //	position: absolute;
	//	top: 35vh;
	//	left: 20%;
	//	z-index: 2
}

.login-section,
.register-section {

	.link {
		text-align: center;
		a {
			text-decoration: none;
			color: #fff;
			border-bottom: 1px solid $main2;
			padding-bottom: 3px;

		}
	}
	form {
		margin-bottom: 20px
	}
	.submit {
		width: 100%;
		margin-top: 20px
	}
	.footer {
		margin-bottom: 20px;
	}
}

.login-section {}

#login-form .icon {
	padding-right: 10px
}

/* courses */

.courses {
	margin-top: 50px;
	margin-bottom: 20px;
	.course {
		position: relative;
		z-index: 1;
		border-radius: 20px;
		margin-bottom: 30px;
		text-align: center;
		.overlay {
			position: absolute;
			width: 95%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 2;
			background-color: rgba(43, 63, 160, .65);
			border-radius: 20px;
			opacity: 1;
			transition: all .3s;
			margin: auto;
			padding: 10px;
			font-size: .8rem;
			cursor: pointer;
		}
		.name {
			color: #fff;
			text-align: center;
			position: absolute;
			left: 0; //			top: calc((100% - 1rem)/2);
			text-transform: capitalize;
			width: 100%;
		}
		img {
			width: 95%;
			height: auto;
			border-radius: 20px;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
		}
	}

	@media(min-width: 992px) {
		.course {
			.overlay {
				opacity: 0;
			}
		}
		.course:hover {
			.overlay {
				opacity: 1;

			}
		}
		@media(min-width: 992px) {
			.course {
				.overlay {
					opacity: 0;
					font-size: 1rem
				}
			}
		}
	}
}

section.contact {
	.contact-wrapper {
		background-color: $main1;
		color: #fff;
		padding: 22px;
		min-height: 100%;
		.title {
			font-size: 1.2rem;
			font-weight: bold; //			margin-bottom: 20px;
			margin-bottom: 10px;
			.line {
				border-bottom: 1px solid #fff
			}
		}
	}
	form {
		//		padding-bottom: 20px;
		//		margin-bottom: 30px;
		//		border-bottom: 1px solid #eee;
		textarea {
			resize: none;
			@media(min-width: 1250px) {
				height: 100px
			}
		}

		.form-group {
			margin-bottom: 10px
		}
		.form-control {
			font-size: .9rem
		}

	}
	form ::-webkit-input-placeholder {
		color: #fff !important;
	}

	form :-moz-placeholder {
		/* Firefox 18- */
		color: #fff !important;
	}

	form ::-moz-placeholder {
		/* Firefox 19+ */
		color: #fff !important;
	}

	form :-ms-input-placeholder {
		color: #fff !important;
	}
	.images-wrapper {
		@media(max-width: 480px) {
			img {
				padding: 0 1px 2px 1px !important
			}
		}
	}
}

//input:-webkit-autofill,
//input:-webkit-autofill:hover, 
//input:-webkit-autofill:focus
//textarea:-webkit-autofill,
//textarea:-webkit-autofill:hover
//textarea:-webkit-autofill:focus,
//select:-webkit-autofill,
//select:-webkit-autofill:hover,
//select:-webkit-autofill:focus {
//  background-color: $main1 !important;
//			color: #fff;
//	-webkit-text-fill-color: #fff !important;
//	-webkit-box-shadow: 0 0 0 30px $main1 inset;
//}
%subscription {
	.title {
		text-align: center;
		font-weight: bold;
		text-transform: capitalize;
		font-size: 1.3rem;
		margin-bottom: 10px
	}
	.price {
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
		margin-bottom: 20px
	}
	.select-lvl {
		cursor: pointer
	}
	.details {
		font-size: .8rem;
		margin-bottom: 50px;
		.row {
			border-bottom: 1px solid #eee;
			padding-bottom: 3px;
			margin-bottom: 25px
		}
		.right {
			text-align: right
		}
	} //	@media(min-width: 480px) {
	//		.details {
	//			.right {
	//				text-align: right
	//			}
	//		}
	//	}
}

.subscibe-section {
	@extend %subscription;
	.subscribtion {
		margin-bottom: 20px
	}
	.submit {
		margin-bottom: 50px;
	}
}

.payment-section {
	.header-section {
		padding: 25px
	}
	.subscription {
		@extend %subscription;
	}
	.form-check {
		margin-bottom: 10px
	}
	.fs-checkbox-marker {
		bottom: 5px;
		margin-right: 10px;
		border-color: #fff;
		border-width: 2px;
	}
	.fs-checkbox-flag {
		background: #fff
	}
	#payment-form {
		font-size: .9rem;
		input {
			padding-left: 0
		}
	}
	.paypal-img,
	.visa-img {
		width: auto;
		height: 27px;
	}
	@media(max-width: 991px) {
		.submit {
			margin-bottom: .5rem
		}
		.paypal-img,
		.visa-img {
			width: 100px;
			height: auto;
		}
	}
}

section.stars,
section.about {
	margin-bottom: 40px;
	.title {
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: capitalize;

		margin-bottom: 20px;
		.line {
			padding-bottom: 5px;
			border-bottom: 1px solid $main2
		}
	}
}

section.stars {
	background: #000 url("/images/background_pattern.png") center/cover no-repeat;
	padding: 50px 0;
	position: relative;
	min-height: 580px;
	.text {
		width: 50%
	}
	.star-img-wrapper {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		overflow: hidden;
		background-color: #fff;
		border: 4px solid #ddd;
		text-align: center;
	}
	.lg-sc-imgs .star-img-wrapper {
		position: absolute
	}
	.sm-sc-imgs .star-img-wrapper {
		margin: auto
	}
	.star-img, .owl-carousel .owl-item img {
		height: 100%;
		padding: 3px;
		display: initial;
		width: auto
	}
	.owl-carousel{
		margin-top: 40px
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
		font-size: 2rem;
		    line-height: 2rem;
		outline: none;
		border: none
	}
	@media(max-width: 1199px) {
		min-height: auto;
		.text {
			width: 100%
		}
	}
}

section.about {
	position: relative;
	.text {
		font-size: 1.1rem
	}
	.border-middle {
		border-right: 5px solid #ddd;
	}
	.details {
		.d-number {
			color: $main1;
			font-weight: bold;
			font-size: 1.8rem
		}
		.d-text {
			font-weight: bold;
			font-size: 1.1rem
		}
	}
	.float-div {
		background-image: url("/images/blue_world_map/world_map@2x.png");
		background-size: 100% 100%;
		background-position: center;
		width: 100%;
		padding: 45px;
		text-align: center;
		color: #fff;
		font-size: 1.1rem;
		p {
			margin: 0;
		}
		strong {
			font-size: 1.8rem
		}
	}
	@media(min-width: 1200px) {
		.float-div {
			position: absolute;
			top: 40%;
			left: calc((100% - 300px)/2);
			width: 300px;
		}
	}
	@media(max-width: 1199px) {
		.details {
			.d-number {
				font-size: 1.8rem
			}
			.d-text {
				font-size: 1rem
			}
		}
		.float-div {
			margin-top: 10px;
			padding: 20px;
			background-size: cover;
		}
	}
	@media(max-width: 575px) {
		.border-middle {
			border: none;
		}
	}
}

%row-style {
	.row-style {
		display: inline-block
	}
	.line {
		display: inline-block;
		width: 50px;
		border-bottom: 2px solid $main1;
		position: relative;
		bottom: 5.5px;
		left: 0
	}
	.circle {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $main1;
		position: relative;
		left: -2px
	}
}

/* profile page */

/* running courses page */

.profile-page,
.running-courses-page {
	.container-fluid {
		padding: 0;
	}
	.page-wrapper {
		padding: 40px 0;
		background-image: url("/images/net_above_the_pattern.png"), url("/images/background_pattern.png");
		background-repeat: no-repeat, no-repeat;
		background-position: bottom right, center; //	background-size: cover;
		background-size: contain, cover;
	} //	.profile-details{
	.prof-img-wrapper {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		overflow: hidden;
		margin: auto;
		margin-bottom: 60px;
		background-color: #fff
	}
	.prof-img {
		height: 100%
	}
	.prof-links {
		.list {
			margin: 0;
			padding: 0
		}
		.link {
			list-style: none;
			text-align: left;
			color: $main1;
			margin-bottom: 15px;
			@extend %row-style;
			a {
				text-decoration: none;
				text-transform: capitalize;
				font-weight: bold;
				padding-left: 20px;
				color: $main1;
				font-size: .9rem
			}

		}
		.link.active {
			.line {
				border-color: $main2
			}
			.circle {
				background-color: $main2
			}
			a {
				color: $main2
			}
		}
	} //	}
	.course {
		border: 1px solid #aaa;
		.course-img-wrapper {
			position: relative
		}
		.course-info-wrapper {
			position: absolute;
			bottom: 0;
			//			top: 0;
			background-color: rgba(0, 0, 0, 0.65);
			color: #fff;
			left: 0;
			right: 0;
			padding: 10px 0;
			font-size: .9rem;
			overflow-y: auto;
			.course-desc {
				margin-top: 20px
			}
			@media(max-width: 767px) {
				top: 0;
				//				bottom: auto
			}
		}
		.course-content {
			padding: 30px;
		}
		.course-progress {
			padding: 10px
		}
		.session-info {
			font-size: .9rem;
			padding: 10px;
			border: 1px solid #aaa
		}
		.session-time {
			display: inline-block;
			border-radius: 10px;
			background-color: #fff;
			font-size: .8rem;
			padding: 2px 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
			margin-top: 20px;
			margin-bottom: 10px
		}
	}
	.course-progress {
		position: relative;
		.session-circle-wrapper {
			text-align: left;
			position: relative;
			z-index: 7;
		}
		.session-number {
			color: #999;
			background-color: #fff;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			padding: 0;
			text-align: center;
			border: 2px solid #999;
			font-weight: bold;
			line-height: 30px;
		}
		.session-number.in-progress {
			color: $main2;
			border-color: $main2;
		}
		.session-name {
			position: relative;
			left: -20px;
		}
		.progress-line {
			position: absolute;
			top: 25px;
			z-index: 5;
			border-color: #999;
			border-width: 2px;
			margin: 0;
		}
		.progress-line.done {
			border-color: $main2;
		}
		.dot {
			color: $main2;
			background-color: $main2;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			padding: 0;
			text-align: center;
			border: 2px solid $main2;
			font-weight: bold;
			line-height: 30px;
			position: absolute;
			left: 0;
			top: 15px
		}
	}
}

.running-courses-page {
	.course {
		border: none
	}
	.sessions-wrapper {
		.row-style {
			position: absolute;
			left: -33px;
			z-index: 10; //			width: 300px;
			display: inline-block;
		}

		.row-style:before {
			content: " ";
			border-bottom: 2px solid $main1;
			position: absolute;
			left: -300px;
			top: 42%;
			z-index: 1;
			right: 0;
		}
		.circle {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #2B3FA0;
			position: relative;
			left: 0px;
			line-height: 9px;

		}
		.session {
			margin: 25px 0;
		}
		.session-name {
			text-transform: capitalize;
			color: $main1;
			margin-bottom: 10px;
			font-weight: bold;
			font-size: 1rem;
			display: inline-block;
			border-bottom: 1px solid $main1;
			//			margin-left: 65px;
		}
		.lessons {
			margin: 0;
			padding: 0;
		}
		.lesson {
			list-style: none;
			position: relative;
			left: 0;
			transition: .4s;
			.lesson-name {
				text-decoration: none;
				color: $text;
			}
			.line {
				width: 50px;
				right: 0
			}
			hr {
				border-color: $main1;
				margin-top: .75rem;
			}
			.period-val {
				padding-right: 10px;
				font-size: .9rem;
			}
			.period-icon img {
				position: relative;
				top: -2px;
				width: 15px
			}
			@media(max-width: 480px) {
				font-size: .9rem;
				.period-val {
					padding-right: 5px;
					font-size: .8rem;
				}
			}
		}
		.lesson:hover {
			left: 15px;
			.row-style:before {
				border-bottom-color: $main2
			}
			.circle {
				background-color: $main2
			}
		}
		.period {
			text-align: right;
		}
	}
}

.level-page {
	//	background-image: url("/images/net_above_the_pattern.png"), url("/images/background_pattern.png");
	//	background-repeat: no-repeat, no-repeat;
	//	background-position: bottom, center;
	//	background-size: cover;
	//	padding-top: 40px;
	.top-bg {
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 345px
	}
	.level-info-bg,
	.sessions-wrapper-bg {
		background: #000 url("/images/background_pattern.png") 0px 0px/cover no-repeat;
	}
	.level-info-wrapper {
		padding: 40px 0;
	}
	.intro-video {
		width: 100%;
		max-height: 350px;
	}
	.level-info {
		font-size: .9rem;
		.level-name {
			text-transform: capitalize;
			font-size: 1.3rem;
			font-weight: bold;

		}
		.courses-num {
			margin-bottom: 25px
		}
		.level-about {
			padding-left: 30px;
			margin-bottom: 25px
		}
		.buy-course-btn {
			text-align: right;
			position: absolute;
			bottom: 8px;
			right: 15px
		}
		.buy-course-btn .btn {
			text-transform: uppercase;
			font-size: .9rem;
		}
		@media(max-width: 992px) {
			.buy-course-btn {
				margin-bottom: 20px
			}
		}

	}
	.sessions-wrapper-bg {
		overflow: hidden
	}
	.sessions-lessons {
		//		@extend %row-style;
		.row-style {
			position: absolute;
			left: -33px;
			z-index: 10; //			width: 300px;
			display: inline-block;
		}

		.row-style:before {
			content: " "; //			width: 290px;
			border-bottom: 2px solid $main1;
			position: absolute; //			left: -95%;
			left: -300px;
			top: 42%;
			z-index: 1;
			right: 0;
		} //		.line{
		//			width: 300px;
		//			    display: inline;
		//    border-bottom: 2px solid #2B3FA0;
		//    position: relative;
		//    bottom: 5.5px;
		//		}
		.circle {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #2B3FA0;
			position: relative;
			left: 0px;
			line-height: 9px;

		}
		.session {
			margin: 25px 0;
		}
		.session-name {
			text-transform: capitalize;
			color: $main1;
			margin-bottom: 10px;
			font-weight: bold;
			font-size: 1rem;
			display: inline-block;
			border-bottom: 1px solid $main1
		}
		.lessons {
			margin: 0;
			padding: 0;
		}
		.lesson {
			list-style: none;
			position: relative;
			left: 0;
			transition: .4s;
			.lesson-name {
				text-decoration: none;
				color: $text;
			}
			.line {
				width: 300px;
				right: 0
			}
			hr {
				border-color: $main1;
				margin-top: .75rem;
			}
			.period-val {
				padding-right: 10px;
				font-size: .9rem
			}
			.period-icon img {
				position: relative;
				top: -2px;
				width: 15px
			}
			@media(max-width: 480px) {
				font-size: .9rem;
				.period-val {
					padding-right: 5px;
					font-size: .8rem;
				}
			}
		}
		.lesson:hover {
			left: 15px;
			.row-style:before {
				border-bottom-color: $main2
			}
			.circle {
				background-color: $main2
			}
		}
	}

	.sessions-btns {
		text-align: center;
		margin-top: 50px;
		.btn {
			width: 100%;
			text-transform: capitalize
		}
		@media(max-width: 768px) {
			.btn {
				margin-bottom: 10px
			}
		}
	}

	.sessions-lessons-title,
	.free-lessons-title {
		color: $main1;
		background-color: #fff;
		padding: 5px 0;
	}

	.free-lessons-title.title2,
	.sessions-lessons-title.title2 {
		display: none
	}
	@media(max-width: 991px) {
		.session-lesson-titles {
			display: none
		}
		.free-lessons-title.title1,
		.sessions-lessons-title.title1 {
			display: none
		}
		.free-lessons-title.title2,
		.sessions-lessons-title.title2 {
			display: block
		}
	}

	.free-lesson {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		color: #fff;
		font-weight: bold;
		padding: 40px;
		position: relative; 
				.fl-bg {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					-webkit-filter: blur(5px);
					-moz-filter: blur(5px);
					-o-filter: blur(5px);
					-ms-filter: blur(5px);
					filter: blur(5px);
					z-index: 5;
				}
				.fl-overlay{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: rgba(0,0,0,.3);
					z-index: 6;
				}
				.fl-content {
					position: relative;
					z-index: 7
				}
		.fl-title {
			font-size: 1.5rem;
			text-transform: capitalize;
			margin-bottom: 30px;
		}
		.fl-desc {
			margin-bottom: 30px
		}
		.fl-btn .btn {
			text-transform: capitalize
		}
	}
}

/* lesson page */

.lesson-page,
.free-lesson-page {
	.page-wrapper {
		padding: 40px 0;
		background-image: url("/images/net_above_the_pattern.png"), url("/images/background_pattern.png");
		background-repeat: no-repeat, no-repeat;
		background-position: bottom right, center; //	background-size: cover;
		background-size: contain, cover;
	}
	.lesson-video video {
		width: 100%;
		max-height: 350px;
	}
	.lesson-name {
		margin: 10px 0 30px 0;
		font-size: .9rem
	}
	.lesson-subtitles {
		.ls-title {
			color: #000;
			font-weight: bold;
			font-size: 1.2rem;
			margin-bottom: 10px
		}
		.ls-time {
			color: $main1;
			font-size: .9rem;
			margin-bottom: 5px
		}
		.ls-text {
			font-size: .9rem;
//			padding-right: 40px
		}
	}
	.lesson-wrapper {}
	.sessions-wrapper {
		.row-style {
			position: absolute;
			left: -33px;
			z-index: 10; //			width: 300px;
			display: inline-block;
		}

		.row-style:before {
			content: " ";
			border-bottom: 2px solid $main1;
			position: absolute;
			left: -300px;
			top: 42%;
			z-index: 1;
			right: 0;
		}
		.circle {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #2B3FA0;
			position: relative;
			left: 0px;
			line-height: 9px;

		}
		.session {
			margin: 25px 0;
		}
		.session-name {
			text-transform: capitalize;
			color: $main1;
			margin-bottom: 10px;
			font-weight: bold;
			font-size: 1rem;
			display: inline-block;
			border-bottom: 1px solid $main1;
		}
		.lessons {
			margin: 0;
			padding: 0;
		}
		.lesson {
			list-style: none;
			position: relative;
			left: 0;
			transition: .4s;
			.lesson-name {
				text-decoration: none;
				color: $text;
			}
			.line {
				width: 50px;
				right: 0
			}
			hr {
				border-color: $main1;
				margin-top: .75rem;
			}
			.period-val {
				padding-right: 10px;
				font-size: .9rem;
			}
			.period-icon img {
				position: relative;
				top: -2px;
				width: 15px
			}
			@media(max-width: 480px) {
				font-size: .9rem;
				.period-val {
					padding-right: 5px;
					font-size: .8rem;
				}
			}
		}
		.lesson:hover {
			left: 15px;
			.row-style:before {
				border-bottom-color: $main2
			}
			.circle {
				background-color: $main2
			}
		}
		.period {
			text-align: right;
		}
	}
}

.free-lesson-page {
	//	.page-wrapper {
	//		padding: 0;
	//	}
	.top-bg {
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 345px; //		margin-bottom: 30px;
	}
	.course-info {
		font-size: .9rem;
		.course-name {
			text-transform: capitalize;
			font-size: 1.3rem;
			font-weight: bold;
		}
		.course-about {
			margin: 20px 0;
		}
		.like-question {
			font-size: 1.3rem;
			font-weight: bold;
			margin-bottom: 20px
		}
		.buy-course-btn .btn {
			text-transform: uppercase;
			font-size: .9rem;
		}
	}
}

#quiz-modal {
	.modal-content {
		background-color: rgba(0, 0, 0, .75);
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	}
	.modal-header {
		border: none
	}
	.modal-footer {
		border: none
	}
	.modal-body {
		color: #fff
	}
	.quiz-body {
		margin-bottom: 30px
	}
	.form-check {
		margin-bottom: 10px
	}
	.fs-checkbox-marker {
		bottom: 3px;
		margin-right: 3px;
		border-color: $main2;
		border-width: 2px;
	}
	.fs-checkbox-flag {
		background: $main2
	}
}

.modal-backdrop.show {
	opacity: 0
}

/* percentage */

.flex-wrapper {
	display: flex;
	flex-flow: row nowrap;
}

.single-chart {
	max-width: 100%;
	width: 75px;
	justify-content: space-around;
}

.circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
}

.circle-bg {
	fill: none; //  stroke: rgba(0, 0, 0, 0.65);
	//  stroke-width: 3.8;
	stroke-width: 0;
}

.circle {
	fill: #fff;
	stroke-width: 2.8;
	/*   stroke-linecap: round; */
	/*   animation: progress 1s ease-out forwards; */
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}

.circular-chart.orange .circle {
	stroke: $main2;
}

.percentage {
	fill: $main2;
	font-family: sans-serif;
	font-size: 0.5em;
	text-anchor: middle;
}

footer {
	padding: 20px 0 40px 0;
	.title {
		font-weight: bold;
		font-size: 1.3rem;
		margin-bottom: 30px
	}
	.contact {
		font-size: .9rem;
		margin-bottom: 20px;
		img {
			height: 30px;
			margin-right: 5px
		}
	}
	.follow {
		img {
			height: 35px
		}
	}
}
