@font-face {
  font-family: 'nexalight';
  src: url("../../fonts/nexa-light.otf"); }
/*Main Rules*/
html,
body {
  font-family: 'nexalight', sans-serif;
  font-size: 18px;
  color: #505050;
  padding: 0px;
  margin: 0px;
  cursor: default; }

body {
  position: relative; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input.form-control,
input.form-control:focus {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #eee;
  color: #eee;
  box-shadow: none;
  padding-bottom: 0; }

textarea.form-control,
textarea.form-control:focus {
  background: transparent;
  border: 1px solid #eee;
  color: #eee;
  box-shadow: none;
  border-radius: 20px; }

.main1-white-btn, .white-border-btn, .main1-border-btn, .main2-border-btn, .main1-border-btn-dark, .main2-border-btn-dark {
  border-radius: 30px;
  border-width: 2px;
  font-weight: bold;
  max-width: 100%; }

.main1-white-btn {
  color: #2B3FA0;
  background-color: #fff; }

.main1-white-btn:hover {
  color: #fff;
  background-color: #2B3FA0; }

.white-border-btn {
  color: #fff;
  background-color: transparent;
  border-color: #fff; }

.main1-border-btn {
  color: #fff;
  background-color: transparent;
  border-color: #2B3FA0; }

.main1-border-btn:hover {
  background-color: #2B3FA0; }

.main2-border-btn {
  color: #fff;
  background-color: transparent;
  border-color: #ED2790; }

.main2-border-btn:hover {
  background-color: #ED2790; }

.main1-border-btn-dark {
  color: #505050;
  background-color: transparent;
  border-color: #2B3FA0; }

.main1-border-btn-dark:hover {
  background-color: #2B3FA0;
  color: #fff; }

.main2-border-btn-dark {
  color: #505050;
  background-color: transparent;
  border-color: #ED2790; }

.main2-border-btn-dark:hover {
  background-color: #ED2790;
  color: #fff; }

/*End Main Rules*/
.top-logo {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 21;
  background-color: #fff;
  padding: 0 15px 15px 15px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }

.home-page header.all-nav,
.level-page header.all-nav,
.free-lesson-page header.all-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20; }

header.all-nav .nav-item {
  padding: 0 .5rem;
  margin-left: 40px;
  text-align: center; }
header.all-nav .nav-link.active {
  border-bottom: 1px solid #fff; }
header.all-nav .navbar-dark .navbar-brand:focus,
header.all-nav .navbar-dark .navbar-brand:hover {
  color: #fff; }
header.all-nav .navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  padding: 0;
  padding-bottom: 3px;
  cursor: pointer;
  display: inline-block; }
header.all-nav .navbar-dark .navbar-nav .nav-link:focus,
header.all-nav .navbar-dark .navbar-nav .nav-link:hover,
header.all-nav .hover:hover {
  color: rgba(255, 255, 255, 0.75); }
header.all-nav .navbar-dark .navbar-nav .active > .nav-link,
header.all-nav .navbar-dark .navbar-nav .nav-link.active,
header.all-nav .navbar-dark .navbar-nav .nav-link.show,
header.all-nav .navbar-dark .navbar-nav .show > .nav-link {
  color: #fff; }
header.all-nav .navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }
header.all-nav .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
header.all-nav .navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
header.all-nav .navbar-dark .navbar-text a {
  color: #fff; }
header.all-nav .navbar-dark .navbar-text a:focus,
header.all-nav .navbar-dark .navbar-text a:hover {
  color: #fff; }
header.all-nav .navbar-toggler {
  position: relative; }
header.all-nav .fixed-toggler {
  top: 10px;
  position: fixed;
  left: auto;
  right: 18px; }
header.all-nav .nav2 {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  padding: 20px 0; }
  header.all-nav .nav2 .container-fluid {
    padding-right: 27px; }
  header.all-nav .nav2 .follow {
    text-align: right; }
    header.all-nav .nav2 .follow .links {
      margin: 0;
      padding: 0; }
    header.all-nav .nav2 .follow .link {
      display: inline-block;
      padding-left: 5px; }
    header.all-nav .nav2 .follow img {
      height: 27px; }
header.all-nav .header-nav {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: right;
  padding-bottom: 13px; }
  header.all-nav .header-nav .navbar-dark .navbar-brand {
    color: #fff; }
header.all-nav .fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20; }

section.home {
  min-height: 100vh;
  background: #000 url("/images/main_image.png") 0px 0px/cover no-repeat;
  position: relative;
  z-index: 1;
  padding-bottom: 40px; }
  section.home .home-content {
    width: 100%; }
  section.home .login-title {
    color: #fff;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px; }

.header-section {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.65);
  color: #eee;
  padding: 20px;
  width: 100%; }

.login-section .link,
.register-section .link {
  text-align: center; }
  .login-section .link a,
  .register-section .link a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #ED2790;
    padding-bottom: 3px; }
.login-section form,
.register-section form {
  margin-bottom: 20px; }
.login-section .submit,
.register-section .submit {
  width: 100%;
  margin-top: 20px; }
.login-section .footer,
.register-section .footer {
  margin-bottom: 20px; }

#login-form .icon {
  padding-right: 10px; }

/* courses */
.courses {
  margin-top: 50px;
  margin-bottom: 20px; }
  .courses .course {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center; }
    .courses .course .overlay {
      position: absolute;
      width: 95%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(43, 63, 160, 0.65);
      border-radius: 20px;
      opacity: 1;
      transition: all .3s;
      margin: auto;
      padding: 10px;
      font-size: .8rem;
      cursor: pointer; }
    .courses .course .name {
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      text-transform: capitalize;
      width: 100%; }
    .courses .course img {
      min-height: 157px;
      max-height: 157px;
      width: 95%;
      height: auto;
      border-radius: 20px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
  @media (min-width: 992px) {
    .courses .course .overlay {
      opacity: 0; }
    .courses .course:hover .overlay {
      opacity: 1; } }
@media (min-width: 992px) and (min-width: 992px) {
  .courses .course .overlay {
    opacity: 0;
    font-size: 1rem; } }

section.contact .contact-wrapper {
  background-color: #2B3FA0;
  color: #fff;
  padding: 22px;
  min-height: 100%; }
  section.contact .contact-wrapper .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px; }
    section.contact .contact-wrapper .title .line {
      border-bottom: 1px solid #fff; }
section.contact form textarea {
  resize: none; }
  @media (min-width: 1250px) {
    section.contact form textarea {
      height: 100px; } }
section.contact form .form-group {
  margin-bottom: 10px; }
section.contact form .form-control {
  font-size: 0.9rem; }
section.contact form ::-webkit-input-placeholder {
  color: #fff !important; }
section.contact form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important; }
section.contact form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important; }
section.contact form :-ms-input-placeholder {
  color: #fff !important; }
@media (max-width: 480px) {
  section.contact .images-wrapper img {
    padding: 0 1px 2px 1px !important; } }

.subscibe-section .title, .payment-section .subscription .title {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 10px; }
.subscibe-section .price, .payment-section .subscription .price {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px; }
.subscibe-section .select-lvl, .payment-section .subscription .select-lvl {
  cursor: pointer; }
.subscibe-section .details, .payment-section .subscription .details {
  font-size: .8rem;
  margin-bottom: 50px; }
  .subscibe-section .details .row, .payment-section .subscription .details .row {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 25px; }
  .subscibe-section .details .right, .payment-section .subscription .details .right {
    text-align: right; }

.subscibe-section .subscribtion {
  margin-bottom: 20px; }
.subscibe-section .submit {
  margin-bottom: 50px; }

.payment-section .header-section {
  padding: 25px; }
.payment-section .form-check {
  margin-bottom: 10px; }
.payment-section .fs-checkbox-marker {
  bottom: 5px;
  margin-right: 10px;
  border-color: #fff;
  border-width: 2px; }
.payment-section .fs-checkbox-flag {
  background: #fff; }
.payment-section #payment-form {
  font-size: .9rem; }
  .payment-section #payment-form input {
    padding-left: 0; }
.payment-section .paypal-img,
.payment-section .visa-img {
  width: auto;
  height: 27px; }
@media (max-width: 991px) {
  .payment-section .submit {
    margin-bottom: 0.5rem; }
  .payment-section .paypal-img,
  .payment-section .visa-img {
    width: 100px;
    height: auto; } }

section.stars,
section.about {
  margin-bottom: 40px; }
  section.stars .title,
  section.about .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px; }
    section.stars .title .line,
    section.about .title .line {
      padding-bottom: 5px;
      border-bottom: 1px solid #ED2790; }

section.stars {
  background: #000 url("/images/background_pattern.png") center/cover no-repeat;
  padding: 50px 0;
  position: relative;
  min-height: 580px; }
  section.stars .text {
    width: 50%; }
  section.stars .star-img-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    border: 4px solid #ddd;
    text-align: center; }
  section.stars .lg-sc-imgs .star-img-wrapper {
    position: absolute; }
  section.stars .sm-sc-imgs .star-img-wrapper {
    margin: auto; }
  section.stars .star-img, section.stars .owl-carousel .owl-item img {
    height: 100%;
    /*padding: 3px;*/
    display: initial;
    width: auto; }
  section.stars .owl-carousel {
    margin-top: 40px; }
  section.stars .owl-carousel .owl-nav button.owl-next, section.stars .owl-carousel .owl-nav button.owl-prev, section.stars .owl-carousel button.owl-dot {
    font-size: 2rem;
    line-height: 2rem;
    outline: none;
    border: none; }
  @media (max-width: 1199px) {
    section.stars {
      min-height: auto; }
      section.stars .text {
        width: 100%; } }

section.about {
  position: relative; }
  section.about .text {
    font-size: 1.1rem; }
  section.about .border-middle {
    border-right: 5px solid #ddd; }
  section.about .details .d-number {
    color: #2B3FA0;
    font-weight: bold;
    font-size: 1.8rem; }
  section.about .details .d-text {
    font-weight: bold;
    font-size: 1.1rem; }
  section.about .float-div {
    background-image: url("/images/blue_world_map/world_map@2x.png");
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    padding: 45px;
    text-align: center;
    color: #fff;
    font-size: 1.1rem; }
    section.about .float-div p {
      margin: 0; }
    section.about .float-div strong {
      font-size: 1.8rem; }
  @media (min-width: 1200px) {
    section.about .float-div {
      position: absolute;
      top: 40%;
      left: calc((100% - 300px)/2);
      width: 300px; } }
  @media (max-width: 1199px) {
    section.about .details .d-number {
      font-size: 1.8rem; }
    section.about .details .d-text {
      font-size: 1rem; }
    section.about .float-div {
      margin-top: 10px;
      padding: 20px;
      background-size: cover; } }
  @media (max-width: 575px) {
    section.about .border-middle {
      border: none; } }

.profile-page .prof-links .link .row-style,
.running-courses-page .prof-links .link .row-style {
  display: inline-block; }
.profile-page .prof-links .link .line,
.running-courses-page .prof-links .link .line {
  display: inline-block;
  width: 50px;
  border-bottom: 2px solid #2B3FA0;
  position: relative;
  bottom: 5.5px;
  left: 0; }
.profile-page .prof-links .link .circle,
.running-courses-page .prof-links .link .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2B3FA0;
  position: relative;
  left: -2px; }

/* profile page */
/* running courses page */
.profile-page .container-fluid,
.running-courses-page .container-fluid {
  padding: 0; }
.profile-page .page-wrapper,
.running-courses-page .page-wrapper {
  padding: 40px 0;
  background-image: url("/images/net_above_the_pattern.png"), url("/images/background_pattern.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, center;
  background-size: contain, cover; }
.profile-page .prof-img-wrapper,
.running-courses-page .prof-img-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 60px;
  background-color: #fff; }
.profile-page .prof-img,
.running-courses-page .prof-img {
  height: 100%; }
.profile-page .prof-links .list,
.running-courses-page .prof-links .list {
  margin: 0;
  padding: 0; }
.profile-page .prof-links .link,
.running-courses-page .prof-links .link {
  list-style: none;
  text-align: left;
  color: #2B3FA0;
  margin-bottom: 15px; }
  .profile-page .prof-links .link a,
  .running-courses-page .prof-links .link a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 20px;
    color: #2B3FA0;
    font-size: 0.9rem; }
.profile-page .prof-links .link.active .line,
.running-courses-page .prof-links .link.active .line {
  border-color: #ED2790; }
.profile-page .prof-links .link.active .circle,
.running-courses-page .prof-links .link.active .circle {
  background-color: #ED2790; }
.profile-page .prof-links .link.active a,
.running-courses-page .prof-links .link.active a {
  color: #ED2790; }
.profile-page .course,
.running-courses-page .course {
  border: 1px solid #aaa; }
  .profile-page .course .course-img-wrapper,
  .running-courses-page .course .course-img-wrapper {
    position: relative; }
  .profile-page .course .course-info-wrapper,
  .running-courses-page .course .course-info-wrapper {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 0;
    font-size: .9rem;
    overflow-y: auto; }
    .profile-page .course .course-info-wrapper .course-desc,
    .running-courses-page .course .course-info-wrapper .course-desc {
      margin-top: 20px; }
    @media (max-width: 767px) {
      .profile-page .course .course-info-wrapper,
      .running-courses-page .course .course-info-wrapper {
        top: 0; } }
  .profile-page .course .course-content,
  .running-courses-page .course .course-content {
    padding: 30px; }
  .profile-page .course .course-progress,
  .running-courses-page .course .course-progress {
    padding: 10px; }
  .profile-page .course .session-info,
  .running-courses-page .course .session-info {
    font-size: .9rem;
    padding: 10px;
    border: 1px solid #aaa; }
  .profile-page .course .session-time,
  .running-courses-page .course .session-time {
    display: inline-block;
    border-radius: 10px;
    background-color: #fff;
    font-size: .8rem;
    padding: 2px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 10px; }
.profile-page .course-progress,
.running-courses-page .course-progress {
  position: relative; }
  .profile-page .course-progress .session-circle-wrapper,
  .running-courses-page .course-progress .session-circle-wrapper {
    text-align: left;
    position: relative;
    z-index: 7; }
  .profile-page .course-progress .session-number,
  .running-courses-page .course-progress .session-number {
    color: #999;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    border: 2px solid #999;
    font-weight: bold;
    line-height: 30px; }
  .profile-page .course-progress .session-number.in-progress,
  .running-courses-page .course-progress .session-number.in-progress {
    color: #ED2790;
    border-color: #ED2790; }
  .profile-page .course-progress .session-name,
  .running-courses-page .course-progress .session-name {
    position: relative;
    left: -20px; }
  .profile-page .course-progress .progress-line,
  .running-courses-page .course-progress .progress-line {
    position: absolute;
    top: 25px;
    z-index: 5;
    border-color: #999;
    border-width: 2px;
    margin: 0; }
  .profile-page .course-progress .progress-line.done,
  .running-courses-page .course-progress .progress-line.done {
    border-color: #ED2790; }
  .profile-page .course-progress .dot,
  .running-courses-page .course-progress .dot {
    color: #ED2790;
    background-color: #ED2790;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    border: 2px solid #ED2790;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 15px; }

.running-courses-page .course {
  border: none; }
.running-courses-page .sessions-wrapper .row-style {
  position: absolute;
  left: -33px;
  z-index: 10;
  display: inline-block; }
.running-courses-page .sessions-wrapper .row-style:before {
  content: " ";
  border-bottom: 2px solid #2B3FA0;
  position: absolute;
  left: -300px;
  top: 42%;
  z-index: 1;
  right: 0; }
.running-courses-page .sessions-wrapper .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2B3FA0;
  position: relative;
  left: 0px;
  line-height: 9px; }
.running-courses-page .sessions-wrapper .session {
  margin: 25px 0; }
.running-courses-page .sessions-wrapper .session-name {
  text-transform: capitalize;
  color: #2B3FA0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 1px solid #2B3FA0; }
.running-courses-page .sessions-wrapper .lessons {
  margin: 0;
  padding: 0; }
.running-courses-page .sessions-wrapper .lesson {
  list-style: none;
  position: relative;
  left: 0;
  transition: .4s; }
  .running-courses-page .sessions-wrapper .lesson .lesson-name {
    text-decoration: none;
    color: #505050; }
  .running-courses-page .sessions-wrapper .lesson .line {
    width: 50px;
    right: 0; }
  .running-courses-page .sessions-wrapper .lesson hr {
    border-color: #2B3FA0;
    margin-top: .75rem; }
  .running-courses-page .sessions-wrapper .lesson .period-val {
    padding-right: 10px;
    font-size: .9rem; }
  .running-courses-page .sessions-wrapper .lesson .period-icon img {
    position: relative;
    top: -2px;
    width: 15px; }
  @media (max-width: 480px) {
    .running-courses-page .sessions-wrapper .lesson {
      font-size: .9rem; }
      .running-courses-page .sessions-wrapper .lesson .period-val {
        padding-right: 5px;
        font-size: .8rem; } }
.running-courses-page .sessions-wrapper .lesson:hover {
  left: 15px; }
  .running-courses-page .sessions-wrapper .lesson:hover .row-style:before {
    border-bottom-color: #ED2790; }
  .running-courses-page .sessions-wrapper .lesson:hover .circle {
    background-color: #ED2790; }
.running-courses-page .sessions-wrapper .period {
  text-align: right; }

.level-page .top-bg {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 345px; }
.level-page .level-info-bg,
.level-page .sessions-wrapper-bg {
  background: #000 url("/images/background_pattern.png") 0px 0px/cover no-repeat; }
.level-page .level-info-wrapper {
  padding: 40px 0; }
.level-page .intro-video {
  width: 100%;
  max-height: 350px; }
.level-page .level-info {
  font-size: .9rem; }
  .level-page .level-info .level-name {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold; }
  .level-page .level-info .courses-num {
    margin-bottom: 25px; }
  .level-page .level-info .level-about {
    padding-left: 30px;
    margin-bottom: 25px; }
  .level-page .level-info .buy-course-btn {
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 15px; }
  .level-page .level-info .buy-course-btn .btn {
    text-transform: uppercase;
    font-size: .9rem; }
  @media (max-width: 992px) {
    .level-page .level-info .buy-course-btn {
      margin-bottom: 20px; } }
.level-page .sessions-wrapper-bg {
  overflow: hidden; }
.level-page .sessions-lessons .row-style {
  position: absolute;
  left: -33px;
  z-index: 10;
  display: inline-block; }
.level-page .sessions-lessons .row-style:before {
  content: " ";
  border-bottom: 2px solid #2B3FA0;
  position: absolute;
  left: -300px;
  top: 42%;
  z-index: 1;
  right: 0; }
.level-page .sessions-lessons .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2B3FA0;
  position: relative;
  left: 0px;
  line-height: 9px; }
.level-page .sessions-lessons .session {
  margin: 25px 0; }
.level-page .sessions-lessons .session-name {
  text-transform: capitalize;
  color: #2B3FA0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 1px solid #2B3FA0; }
.level-page .sessions-lessons .lessons {
  margin: 0;
  padding: 0; }
.level-page .sessions-lessons .lesson {
  list-style: none;
  position: relative;
  left: 0;
  transition: .4s; }
  .level-page .sessions-lessons .lesson .lesson-name {
    text-decoration: none;
    color: #505050; }
  .level-page .sessions-lessons .lesson .line {
    width: 300px;
    right: 0; }
  .level-page .sessions-lessons .lesson hr {
    border-color: #2B3FA0;
    margin-top: .75rem; }
  .level-page .sessions-lessons .lesson .period-val {
    padding-right: 10px;
    font-size: 0.9rem; }
  .level-page .sessions-lessons .lesson .period-icon img {
    position: relative;
    top: -2px;
    width: 15px; }
  @media (max-width: 480px) {
    .level-page .sessions-lessons .lesson {
      font-size: .9rem; }
      .level-page .sessions-lessons .lesson .period-val {
        padding-right: 5px;
        font-size: .8rem; } }
.level-page .sessions-lessons .lesson:hover {
  left: 15px; }
  .level-page .sessions-lessons .lesson:hover .row-style:before {
    border-bottom-color: #ED2790; }
  .level-page .sessions-lessons .lesson:hover .circle {
    background-color: #ED2790; }
.level-page .sessions-btns {
  text-align: center;
  margin-top: 50px; }
  .level-page .sessions-btns .btn {
    width: 100%;
    text-transform: capitalize; }
  @media (max-width: 768px) {
    .level-page .sessions-btns .btn {
      margin-bottom: 10px; } }
.level-page .sessions-lessons-title,
.level-page .free-lessons-title {
  color: #2B3FA0;
  background-color: #fff;
  padding: 5px 0; }
.level-page .free-lessons-title.title2,
.level-page .sessions-lessons-title.title2 {
  display: none; }
@media (max-width: 991px) {
  .level-page .session-lesson-titles {
    display: none; }
  .level-page .free-lessons-title.title1,
  .level-page .sessions-lessons-title.title1 {
    display: none; }
  .level-page .free-lessons-title.title2,
  .level-page .sessions-lessons-title.title2 {
    display: block; } }
.level-page .free-lesson {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-weight: bold;
  padding: 40px;
  position: relative; }
  .level-page .free-lesson .fl-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 5; }
  .level-page .free-lesson .fl-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6; }
  .level-page .free-lesson .fl-content {
    position: relative;
    z-index: 7; }
  .level-page .free-lesson .fl-title {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 30px; }
  .level-page .free-lesson .fl-desc {
    margin-bottom: 30px; }
  .level-page .free-lesson .fl-btn .btn {
    text-transform: capitalize; }

/* lesson page */
.lesson-page .page-wrapper,
.free-lesson-page .page-wrapper {
  padding: 40px 0;
  background-image: url("/images/net_above_the_pattern.png"), url("/images/background_pattern.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, center;
  background-size: contain, cover; }
.lesson-page .lesson-video video,
.free-lesson-page .lesson-video video {
  width: 100%;
  max-height: 350px; }
.lesson-page .lesson-name,
.free-lesson-page .lesson-name {
  margin: 10px 0 30px 0;
  font-size: 0.9rem; }
.lesson-page .lesson-subtitles .ls-title,
.free-lesson-page .lesson-subtitles .ls-title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px; }
.lesson-page .lesson-subtitles .ls-time,
.free-lesson-page .lesson-subtitles .ls-time {
  color: #2B3FA0;
  font-size: .9rem;
  margin-bottom: 5px; }
.lesson-page .lesson-subtitles .ls-text,
.free-lesson-page .lesson-subtitles .ls-text {
  font-size: .9rem; }
.lesson-page .sessions-wrapper .row-style,
.free-lesson-page .sessions-wrapper .row-style {
  position: absolute;
  left: -33px;
  z-index: 10;
  display: inline-block; }
.lesson-page .sessions-wrapper .row-style:before,
.free-lesson-page .sessions-wrapper .row-style:before {
  content: " ";
  border-bottom: 2px solid #2B3FA0;
  position: absolute;
  left: -300px;
  top: 42%;
  z-index: 1;
  right: 0; }
.lesson-page .sessions-wrapper .circle,
.free-lesson-page .sessions-wrapper .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2B3FA0;
  position: relative;
  left: 0px;
  line-height: 9px; }
.lesson-page .sessions-wrapper .session,
.free-lesson-page .sessions-wrapper .session {
  margin: 25px 0; }
.lesson-page .sessions-wrapper .session-name,
.free-lesson-page .sessions-wrapper .session-name {
  text-transform: capitalize;
  color: #2B3FA0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 1px solid #2B3FA0; }
.lesson-page .sessions-wrapper .lessons,
.free-lesson-page .sessions-wrapper .lessons {
  margin: 0;
  padding: 0; }
.lesson-page .sessions-wrapper .lesson,
.free-lesson-page .sessions-wrapper .lesson {
  list-style: none;
  position: relative;
  left: 0;
  transition: .4s; }
  .lesson-page .sessions-wrapper .lesson .lesson-name,
  .free-lesson-page .sessions-wrapper .lesson .lesson-name {
    text-decoration: none;
    color: #505050; }
  .lesson-page .sessions-wrapper .lesson .line,
  .free-lesson-page .sessions-wrapper .lesson .line {
    width: 50px;
    right: 0; }
  .lesson-page .sessions-wrapper .lesson hr,
  .free-lesson-page .sessions-wrapper .lesson hr {
    border-color: #2B3FA0;
    margin-top: .75rem; }
  .lesson-page .sessions-wrapper .lesson .period-val,
  .free-lesson-page .sessions-wrapper .lesson .period-val {
    padding-right: 10px;
    font-size: .9rem; }
  .lesson-page .sessions-wrapper .lesson .period-icon img,
  .free-lesson-page .sessions-wrapper .lesson .period-icon img {
    position: relative;
    top: -2px;
    width: 15px; }
  @media (max-width: 480px) {
    .lesson-page .sessions-wrapper .lesson,
    .free-lesson-page .sessions-wrapper .lesson {
      font-size: .9rem; }
      .lesson-page .sessions-wrapper .lesson .period-val,
      .free-lesson-page .sessions-wrapper .lesson .period-val {
        padding-right: 5px;
        font-size: .8rem; } }
.lesson-page .sessions-wrapper .lesson:hover,
.free-lesson-page .sessions-wrapper .lesson:hover {
  left: 15px; }
  .lesson-page .sessions-wrapper .lesson:hover .row-style:before,
  .free-lesson-page .sessions-wrapper .lesson:hover .row-style:before {
    border-bottom-color: #ED2790; }
  .lesson-page .sessions-wrapper .lesson:hover .circle,
  .free-lesson-page .sessions-wrapper .lesson:hover .circle {
    background-color: #ED2790; }
.lesson-page .sessions-wrapper .period,
.free-lesson-page .sessions-wrapper .period {
  text-align: right; }

.free-lesson-page .top-bg {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 345px; }
.free-lesson-page .course-info {
  font-size: .9rem; }
  .free-lesson-page .course-info .course-name {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold; }
  .free-lesson-page .course-info .course-about {
    margin: 20px 0; }
  .free-lesson-page .course-info .like-question {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px; }
  .free-lesson-page .course-info .buy-course-btn .btn {
    text-transform: uppercase;
    font-size: .9rem; }
#quiz-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
#quiz-modal .modal-header {
  border: none; }
#quiz-modal .modal-footer {
  border: none; }
#quiz-modal .modal-body {
  color: #fff; }
#quiz-modal .quiz-body {
  margin-bottom: 30px; }
#quiz-modal .form-check {
  margin-bottom: 10px; }
#quiz-modal .fs-checkbox-marker {
  bottom: 3px;
  margin-right: 3px;
  border-color: #ED2790;
  border-width: 2px; }
#quiz-modal .fs-checkbox-flag {
  background: #ED2790; 
}



#kits-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
#kits-modal .modal-header {
  border: none; }
#kits-modal .modal-footer {
  border: none; }
#kits-modal .modal-body {
  color: #fff; }
#kits-modal .quiz-body {
  margin-bottom: 30px; }
#kits-modal .form-check {
  margin-bottom: 10px; }
#kits-modal .fs-checkbox-marker {
  bottom: 3px;
  margin-right: 3px;
  border-color: #ED2790;
  border-width: 2px; }
#kits-modal .fs-checkbox-flag {
  background: #ED2790; 
}


.kit-details {
      border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 25px;
    font-size: 14px;
}
.kit-details .col-6.right{
  text-align:  right;
}
.note-div {
  color: #fff;
  text-align: center;
}
.kit-div {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #eee;
    padding: 20px;
    width: 100%;
}
.kit-container {
  padding: 50px;
  margin-left: 15px;
}
.purchase-button-div{
  margin :20px auto;
}
.purchase-btn {
  color: #fff;
}
.modal-header-col {
  margin-top: 20px;
}
.kits-modal {
  /*top: -120px ;*/
}
.modal-footer-details hr {
    border-top: 1.6px solid #fff;
    display: block;
}
.modal-heading {
  color: #fff;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.add-kit-span {
  font-size: 15px;
}
.img-col {
  margin-bottom: 20px;
}
.item {
  margin: 30px auto;
}
.item-details { 
  padding-left: 20px;
}
.checked-items-details{
  font-size: 22px;
  color: #fff;
}
.option-input {
  border: 1px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 7.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 22px;
  width: 22px;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #37a53f;
}
.option-input:checked {
  background: #fff;
}
.option-input:checked::before {
  height: 22px;
  width: 22px;
  color: green;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
  margin-top: -8px; 
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #3ead3e;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}




  .modal-xl {
    max-width : 1200px;
  }
  .modal-full {
    max-width: 100%;
  }
  .items-modal-body {
    padding: 30px 80px;
  }

.item-section {
    background-color: #fff; 
    border-radius: 20px;
    color: black; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin:10px;
    max-height: 370px;
  }
  .item-section hr{
    border-top: 1.4px solid #845d5d;
    display: block;
    margin: 0px auto;
  }

.custom-item-section {
    background-color: #fff; 
    border-radius: 20px;
    color: black; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin:10px;
  }
  .custom-item-section hr{
    border-top: 1.4px solid #845d5d;
    display: block;
    margin: 0px auto;
  }

#items-modal .modal-content {
  height: 600px ;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
#items-modal .modal-header {
  border: none; }
#items-modal .modal-footer {
  border: none; }
#items-modal .modal-body {
  color: #fff; }
#items-modal .quiz-body {
  margin-bottom: 30px; }
#items-modal .form-check {
  margin-bottom: 10px; }
#items-modal .fs-checkbox-marker {
  bottom: 3px;
  margin-right: 3px;
  border-color: #ED2790;
  border-width: 2px; }
#items-modal .fs-checkbox-flag {
  background: #ED2790; 
}
.add-kit-span{
    /*display: flex;*/
    margin-left: -20px;
}
#kit-details-modal .modal-content {
    height: 600px ;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
#kit-details-modal .modal-header {
  border: none; }
#kit-details-modal .modal-footer {
  border: none; }
#kit-details-modal .modal-body {
  color: #fff; }
#kit-details-modal .quiz-body {
  margin-bottom: 30px; }
#kit-details-modal .form-check {
  margin-bottom: 10px; }
#kit-details-modal .fs-checkbox-marker {
  bottom: 3px;
  margin-right: 3px;
  border-color: #ED2790;
  border-width: 2px; }
#kit-details-modal .fs-checkbox-flag {
  background: #ED2790; 
}




.modal-backdrop.show {
  opacity: 0; }

/* percentage */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap; }

.single-chart {
  max-width: 100%;
  width: 75px;
  justify-content: space-around; }

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px; }

.circle-bg {
  fill: none;
  stroke-width: 0; }

.circle {
  fill: #fff;
  stroke-width: 2.8;
  /*   stroke-linecap: round; */
  /*   animation: progress 1s ease-out forwards; */ }

@keyframes progress {
  0% {
    stroke-dasharray: 0 100; } }
.circular-chart.orange .circle {
  stroke: #ED2790; }

.percentage {
  fill: #ED2790;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle; }
.option-input {
      margin-left: 10px;
}

  .modal-backdrop.show {
      background-color: #fff;
      opacity: 0.3;   
  }
footer {
  padding: 20px 0 40px 0; }
  footer .title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 30px; }
  footer .contact {
    font-size: .9rem;
    margin-bottom: 20px; }
    footer .contact img {
      height: 30px;
      margin-right: 5px; }
  footer .follow img {
    height: 35px; }

/*# sourceMappingURL=style.css.map */

.modal-footer > :not(:last-child) { 
  margin-right: 0rem;
}
.modal-footer > :not(:first-child) {
     margin-left: 0rem; 
}

