@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700&display=swap');
@font-face {
  font-family: 'LineIcons';
  src: url('../fonts/LineIcons.eot?y2l643');
  src: url('fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'), url('../fonts/LineIcons.ttf?y2l643') format('truetype'), url('../fonts/LineIcons.woff?y2l643') format('woff'), url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}
a, a:link, a:visited, a:active, a:hover, button, input, select, textarea, i {
  text-decoration: none;
  outline: none;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input, select, textarea {
  width: 100%;
  outline: none;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type="radio"], input[type="checkbox"] {
  width: auto;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
  box-shadow: none;
}
img {
  max-width: 100%;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.comntitle {
  font-size: 28px;
  color: #435274;
  font-weight: bold;
  text-transform: capitalize;
}
.blue_bg {
  background: #435274;
}
.yellow_bg {
  background: #ffc91f;
}
.green_bg {
  background: #2ddca9;
}
.red_bg {
  background: #ff7360;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #ff7360;
}
.navbar-light .navbar-nav .nav-link {
  color: #435274;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-right: 50px;
  padding-top: 0;
}
.navbar-light .navbar-nav .nav-link:after {
  content: "";
  width: 4px;
  height: 4px;
  background: #ff7360;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::after, .navbar-light .navbar-nav .active > .nav-link::after {
  opacity: 1;
}
header {
  background: #fff3e5;
  padding: 20px 0;
  position: relative;
}
.searchdiv {
  background: #fff;
  padding: 20px 0;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 85%;
  box-shadow: 0px 5px 5px #ddd;
}
.serchbox {
  display: flex;
  align-items: center;
}
.serchbox i {
  color: #ff7360;
  font-size: 48px;
  cursor: pointer;
  margin-right: 20px;
}
.serchbox input {
  border: none;
  height: 80px;
  padding: 10px 20px;
  color: #b4b4b4;
  font-size: 20px;
}
.banner {
  background: url("../images/rtlbanner-img.png") no-repeat #fff3e5;
  background-position: left bottom;
  height: 625px;
}
.captiontext aside {
  font-size: 48px;
  color: #435274;
  font-weight: bold;
  line-height: 60px;
  margin: 120px 0 10px;
}
.captiontext p {
  font-size: 20px;
  color: #435274;
  font-weight: 300;
}
.captiontext a {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  line-height: 56px;
  font-weight: 600;
}
.captiontext a:hover, .captiontext a:focus {
  background: #435274;
}
.rightmenu a {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  vertical-align: middle;
  color: #435274;
}
.rightmenu a:hover, .rightmenu a:focus {
  color: #ff7360;
}
.rightmenu select {
  font-size: 14px;
  margin-left: 10px;
  width: auto;
  display: inline-block;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.about_eureka {
  padding: 70px 0;
}
.about_eureka p {
  font-size: 16px;
  color: #435274;
}
.aboutslider {
  width: 72%;
  margin-top: 30px;
}
.aboutslider h4 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.aboutbox {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.aboutslider a {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230px;
}
#aboutslider .owl-nav {
  position: absolute;
  left: -150px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
#aboutslider .owl-nav button,
#aboutslider .owl-nav .owl-prev,
#aboutslider .owl-nav .owl-next {
  font-size: 44px;
  height: 36px;
  width: 36px;
  color: #dcdcdc;
}
#aboutslider .owl-nav button:hover ,
#aboutslider .owl-nav .owl-prev:hover,
#aboutslider .owl-nav .owl-next:hover{
  color: #ff7360;
  transform: scale(1.5);
  margin-top: -4px;
}
.aboutslider a img {
  width: auto !important;
  position: absolute;
  bottom: 0;
  right: 0;
}
.courses {
  background: #f4f4f4;
  padding: 35px 0;
}
#courses {
  margin-top: 40px;
}
#courses .owl-dots {
  text-align: center;
  margin-top: 25px;
}
#courses .owl-dots .owl-dot span {
  background: #435274;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  width: 12px;
}
#courses .owl-dots .owl-dot.active span {
  background: #ff7360;
}
.coursesbox {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.coursesbox h4 {
  font-size: 16px;
  color: #ff7360;
  font-weight: bold;
  margin-bottom: 15px;
}
.coursesbox p {
  font-size: 14px;
  color: #435274;
  font-weight: 300;
  line-height: 20px;
  margin: 10px 0;
  height: 60px;
  overflow: hidden;
}
.coursesbox aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #435274;
  font-weight: 300;
}
.coursesbox aside span {
  font-size: 16px;
  color: #435274;
  font-weight: 400;
}
.coursesbox a {
  font-size: 14px;
  color: #fff;
  background: #ff7360;
  font-weight: bold;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  position: absolute;
  bottom: -12px;
  left: 20px;
}
.coursesbox a:hover {
  background: #435274;
}
#courses .owl-stage-outer {
  padding-bottom: 20px;
}
a.viewall {
  font-weight: bold;
  color: #ff7360;
  font-size: 16px;
  float: left;
  margin-top: 20px;
}
a.viewall:hover {
  color: #435274;
}
.Eureka_Stars {
  padding: 70px 0;
}
#Eureka_Stars {
  margin-top: 30px;
}
.starbox {
  text-align: center;
}
.starbox img {
  width: auto !important;
  margin: 0 auto 10px;
}
.starbox span {
  font-size: 16px;
  color: #435274;
  display: block;
}
.starbox small {
  font-size: 14px;
  color: #707070;
  display: block;
  margin-bottom: 5px;
}
.starbox h4 {
  font-size: 15px;
  color: #ff7360;
  font-weight: bold;
  margin-bottom: 15px;
}
#Eureka_Stars .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  top: 50px;
  color: #dcdcdc;
}
#Eureka_Stars .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  top: 50px;
  color: #dcdcdc;
}
#Eureka_Stars .owl-nav button,
#Eureka_Stars .owl-nav i {
  font-size: 44px;
  height: 36px;
  width: 36px;
}
#Eureka_Stars .owl-nav button:hover,
#Eureka_Stars .owl-nav .owl-prev:hover,
#Eureka_Stars .owl-nav .owl-next:hover {
  color: #ff7360;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
footer {
  background: #f4f4f4;
  padding: 40px 0 30px;
}
footer h6 {
  font-size: 14px;
  color: #435274;
  font-weight: 300;
  margin-bottom: 20px;
}
footer a {
  font-size: 14px;
  color: #ff7360;
  font-weight: 300;
  display: table;
  margin-bottom: 7px;
}
footer textarea {
  border: none;
  background: #fff;
  margin-bottom: 10px;
  padding: 8px 15px;
  height: 80px;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 300;
  resize: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
footer input {
  border: none;
  background: #fff;
  margin-bottom: 10px;
  padding: 5px 15px;
  height: 40px;
  width: 47%;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 300;
  resize: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inputdiv {
  display: flex;
  justify-content: space-between;
}
footer form button {
  float: right;
  font-size: 14px;
  color: #fff;
  background: #ff7360;
  font-weight: bold;
  padding: 2px 23px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
footer form button:hover {
  background: #435274;
}
.bottom_footer {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otherlink a {
  font-size: 14px;
  color: #ff7360;
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.otherlink a::after {
  content: "";
  width: 1px;
  height: 70%;
  background: #435274;
  position: absolute;
  top: 15%;
  left: -10px;
}
.otherlink a:last-child {
  margin: 0;
}
.otherlink a:last-child::after {
  display: none;
}
.sociallink a {
  margin-left: 20px;
}
.Testimonials {
  position: relative;
  margin-bottom: 100px;
}
.Testimonials::after {
  content: "";
  width: 50%;
  height: 100%;
  background: #435274;
  position: absolute;
  left: 0;
  top: 0;
  border-radius:0 15px 15px 0;
  z-index: -1;
}
.testbox {
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  padding: 25px;
  margin-bottom: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.testbox p {
  line-height: 22px;
  height: 66px;
  overflow: hidden;
  margin: 0;
}
#carouselExampleControls {
  margin-top: 60px;
}
.test_control {
  position: absolute;
  left: 0;
  bottom: 90px;
  z-index: 2;
}
.test_control .carousel-control-prev, .test_control .carousel-control-next {
  position: initial;
  width: auto;
  display: inline-block;
  font-size: 48px;
  color: #dcdcdc;
  margin-right: 15px;
}
.test_control .carousel-control-prev:hover, .test_control .carousel-control-next:hover {
  color: #ff7360;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.mob_Testimonials {
  display: none;
}
/*inner*/
header.inner-header {
  background: #fff;
}
.inner-banner img {
  width: 100%;
}
.signup-login {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 0;
}
.signup-login li {
  display: inline-block;
}
.signup-login li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #ff7360;
  margin-right: 0;
}
.signup-login li a:hover {
  color: #435274;
}
.signup-login .login-btn a {
  padding: 5px 35px;
  background: #ff7360;
  border-radius: 30px;
  color: #fff;
  margin-left: 20px;
}
.signup-login .login-btn a:hover {
  background: #435274;
  color: #fff;
}
.inner-development {
  padding: 40px 0;
}
.chaper-lesson {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  margin-top: -160px;
  padding-bottom: 40px;
  position: relative;
}
.chaper-lesson img {
  border-radius: 20px 20px 0 0;
  margin-bottom: 20px;
}
.chaper-lesson p {
  font-size: 16px;
}
.chaper-lesson h3 {
  font-size: 28px;
  font-weight: 700;
  color: #435274;
  text-transform: capitalize;
}
.chaper-lesson button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -22px;
  cursor: pointer;
}
.chaper-lesson button:hover {
  background: #435274;
}
.you-will-learn {
  margin-top: 20px;
}
.you-will-learn h4 {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
}
.you-will-learn ul {
  margin-top: 40px;
}
.you-will-learn ul li {
  width: 45%;
  display: inline-block;
  margin: 0 40px 40px 0;
  font-size: 16px;
  color: #435274;
  position: relative;
  padding-left: 40px;
}
.you-will-learn ul li:after {
  position: absolute;
  left: 0;
  content: '';
  background: url("../images/check-arrow.png") no-repeat;
  height: 25px;
  width: 25px;
  top: 5px;
}
.inner-testimonials {
  background: #f4f4f4;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 60px;
}
.testi-slider p {
  font-size: 16px;
  color: #435274;
}
.testi-slider h5 {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
#testi-slider .owl-nav {
  position: absolute;
  left: 0;
  font-size: 44px;
  color: #dcdcdc;
  bottom: -11px;
  line-height: 0;
  background: #f4f4f4;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
}
#testi-slider .owl-nav .owl-next {
  margin-left: 15px;
  display: inline-block;
}
#testi-slider .owl-nav .owl-prev {
  display: inline-block;
}
#testi-slider .owl-nav button:hover ,
#testi-slider .owl-nav .owl-next:hover ,
#testi-slider .owl-nav .owl-prev:hover {
  font-size: 60px;
  color: #ff7360;
}
.topic-chapter h4 {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
}
.course-list {
  margin-top: 60px;
}
.course-list h4 {
  margin-bottom: 30px;
}
.course-list li {
  display: flex;
  border-bottom: 5px solid #f4f4f4;
  padding-bottom: 20px;
  margin-top: 20px;
}
.course-list li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.course-list .chapter-img {
  width: 20%;
}

.course-list .chapter-detail {
	width: 100%;
}
.course-list .chapter-img img {
  border-radius: 20px;
}
.course-list .chapter-detail .capter-title {
  margin-bottom: 15px;
  margin-top: 10px;
}
.course-list .chapter-detail .capter-title h5, .course-list .chapter-detail .capter-title i {
  display: inline-block;
}
.course-list .chapter-detail .capter-title i {
  margin-left: 15px;
  vertical-align: top;
}
.course-list .chapter-detail .capter-title span {
  float: left;
  font-size: 16px;
  color: #435274;
  font-weight: 300;
}
.new-breadcrumb .breadcrumb {
  display: flex;
  justify-content: flex-end;
  background: none;
  padding: 0;
}
.new-breadcrumb .breadcrumb li {
  font-size: 14px;
  color: #435274;
  font-weight: 300;
}
.new-breadcrumb .breadcrumb li a {
  color: #435274;
}
.new-breadcrumb .breadcrumb .breadcrumb-item.active {
  margin-right: 15px;
}
.new-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #435274;
  content: ">";
}
/*lessons*/
h4.comntitle, h5.comntitle {
  color: #435274;
  font-size: 16px;
  font-weight: 700;
}
.inner-quick-links {
  text-align: left;
}
.inner-quick-links a {
  margin-right: 20px;
  font-size: 16px;
  color: #ff7360;
  font-weight: 700;
}
.inner-quick-links a:hover {
  color: #435274;
}
.inner-quick-links a img {
  margin-right: 10px;
  vertical-align: text-bottom;
}
.lessons-video {
  width: 100%;
  margin: 25px 0 20px;
}
.playpause {
  background-image: url("../images/play-button.png");
  background-repeat: no-repeat;
  width: 15%;
  height: 15%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.lessons-need-sliders {
  background: #f4f4f4;
  padding: 40px 0;
}
.lessons-need-sliders .style-full {
  background: #fff;
  border-radius: 20px;
  padding: 20px 0 40px;
  position: relative;
}
.lessons-need-sliders .style-full button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -22px;
  cursor: pointer;
}
.lessons-need-sliders .style-full button:hover {
  background: #435274;
}
.lessons-need-sliders .style-full .main-pic {
  padding: 0 20px;
  text-align: center;
}
.lessons-need-sliders hr.img-btm-part {
  height: 1px;
  color: #f4f4f4;
}
.lessons-need-sliders .product-title {
  padding: 0 20px;
}
.lessons-need-sliders .product-title h4 {
  color: #ff7360;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}
.lessons-need-sliders .product-title p {
  font-size: 16px;
  color: #435274;
}
.lessons-need-sliders .product-title span img {
  margin-left: 5px;
  vertical-align: text-bottom;
  display: initial;
  width: auto;
}
.lessons-need-sliders .product-title span {
  color: #435274;
  display: block;
  margin-bottom: 25px;
}
.lessons-need-sliders .product-title .sub-unsub {
  display: flex;
}
.lessons-need-sliders .product-title .sub-unsub p {
    margin-left: 12px;
    padding-left: 12px;
    font-size: 14px;
    border-left: 1px solid #bab9c1;
    margin-bottom: 0;
}
.lessons-need-sliders .product-title .sub-unsub p:last-child {
  border-left: 0px solid #bab9c1;
}
.lessons-need-sliders .product-title .sub-unsub span {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0 0;
  line-height: 26px;
}
.lessons-need-sliders .lessons-slider-area {
  padding-right: 380px;
  display: flex;
  margin-top: 20px;
}
.lessons-need-sliders .style-half {
  display: flex;
  padding: 0 20px;
  margin-bottom: 40px;
}
.lessons-need-sliders .style-half .main-pic {
  padding: 20px 8px 20px 0px;
  border-left: 1px solid #bab9c1;
}
.lessons-need-sliders .style-half .main-pic img {
  height: 170px;
}
.lessons-need-sliders .style-half .product-title {
  padding: 20px;
}
.lessons-need-sliders .style-half button {
  background: rgba(225, 115, 96, 0.5);
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  left: 20px;
  right: auto;
  bottom: -15px;
  cursor: pointer;
}
.lessons-need-sliders .style-half button:hover {
  background: rgba(225, 115, 96, 1);
}
#lessons-two .owl-nav {
  display: flex;
  position: absolute;
  top: -51px;
  left: 37%;
  justify-content: space-around;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-between;
}
#lessons-two .owl-nav button ,
#lessons-two .owl-nav .owl-next,
#lessons-two .owl-nav .owl-prev{
  font-size: 44px;
  height: 36px;
  width: 36px;
  color: #dcdcdc;
}
#lessons-two .owl-nav .owl-next {
  margin-left: 15px;
}
#lessons-two .owl-nav .owl-prev {
  margin-right: 15px;
}
#lessons-two .owl-nav button:hover,
#lessons-two .owl-nav .owl-next:hover,
#lessons-two .owl-nav .owl-prev:hover {
  color: #ff7360;
  transform: scale(1.5);
  margin-top: -4px;
}
.lessons-next-pre {
  padding: 60px 0;
}
.nxt-pre-slider {
  background: #f4f4f4;
  padding: 80px 30px 30px 30px;
  border-radius: 20px;
  color: #435274;
  position: relative;
}
.nxt-pre-slider.left {
  padding-left: 100px;
}
.nxt-pre-slider.left::after {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  content: 'Previous';
  color: #ff7360;
  z-index: 1;
  top: 30px;
  left: 100px;
}
.nxt-pre-slider.right::after {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  content: 'Next';
  color: #ff7360;
  z-index: 1;
  top: 30px;
  left: 30px;
}
.nxt-pre-slider.right {
  padding-right: 100px;
}
.next-pre {
  position: relative;
}
.next-pre .carousel-control-prev, .next-pre .carousel-control-next {
  width: 8%;
  opacity: 1;
  transition: opacity 0.15s ease;
}
.next-pre .carousel-control-prev-icon, .next-pre .carousel-control-next-icon {
  display: inline-block;
  width: 57px;
  height: 41px;
  background: none;
}
.nxt-pre-slider p {
  font-size: 16px;
}
.nxt-pre-slider h4 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0px;
}

/*  new rtl css*/
/*------------------------------------------------------------------------------*/
.user_profile {
  margin: 20px 0 50px;
}
.profile_courses {
  background: #f4f4f4;
  padding: 35px 0 70px;
}
#profile_courses {
  margin-top: 40px;
}
#profile_courses .owl-stage-outer {
  padding-bottom: 20px;
}
#profile_courses .owl-nav button {
  font-size: 44px;
  height: 36px;
  width: 36px;
}
#profile_courses .owl-nav .owl-next {
  position: absolute;
  right: -60px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #121313;
}
#profile_courses .owl-nav .owl-prev {
  position: absolute;
  left: -70px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #121313;
}
#profile_courses .owl-nav button:hover {
  color: #ff7360;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.Accomplishments {
  margin: 50px 0;
}
.Accomplishments h3 {
  font-size: 28px;
  color: #435274;
  font-weight: bold;
}
.Accomplishments ul {
  position: relative;
  padding: 35px 0px 35px 35px;
  margin-top: 50px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
.Accomplishments ul:before {
  content: "";
  background: #435274;
  width: 7px;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.Accomplishments li {
  background: #f4f4f4;
  padding: 50px 25px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.Accomplishments li:last-child {
  margin-bottom: 0;
}
.iconimg {
  margin-right: 25px;
}
.date {
  font-size: 16px;
  color: #435274;
}
.Accomplishments button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 40px auto;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  line-height: 56px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.Accomplishments button:hover, .Accomplishments button:focus {
  background: #435274;
}
.user_profile h1 {
  font-size: 28px;
  color: #435274;
  font-weight: bold;
  margin-bottom: 40px;
}
.user_detail h4 {
  font-size: 16px;
  color: #435274;
  font-weight: bold;
  margin: 25px 0;
}
.user_detail h5 {
  font-size: 16px;
  color: #435274;
}
.user_detail p {
  font-size: 16px;
  color: #435274;
  margin-bottom: 10px;
}
.user_detail span {
  font-size: 16px;
  color: #435274;
  display: block;
}
a.setting {
  position: absolute;
  top: 20px;
  left: 20px;
}
.Shopping_Cart {
  background: none;
}
.Shopping_Cart .style-full {
  background: #f4f4f4;
  padding: 0;
  border-radius: 15px;
  border: 2px solid #f4f4f4;
  margin-top: 40px;
}
.Shopping_Cart .style-half .main-pic {
  background: #fff;
  border-radius: 15px 0 0 15px;
  padding: 20px;
  width: 40%;
}
.Shopping_Cart .style-half .product-title {
  position: relative;
  width: 60%;
}
.cross {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.number {
  margin-top: 15px;
}
.number span.minus, .number span.plus {
  width: 34px;
  height: 36px;
  line-height: 34px;
  background: #ff7360;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  padding: 0;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 -5px;
  cursor: pointer;
}
.number span.minus { border-radius: 0 10px 10px 0; }
.number span.plus { border-radius: 10px 0 0 10px; }
.number input {
  height: 36px;
  width: 100px;
  color: #435274;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  border: none;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
}
.address_details {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);
  padding: 30px;
  margin-left: 10%;
  font-size: 16px;
  color: #435274;
  position: relative;
}
.address_details hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e9e9e9;
}
.address_details aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address_details h4 {
  font-size: 16px;
  color: #435274;
  font-weight: bold;
  margin-bottom: 25px;
}
.address_details label {
  font-size: 16px;
  color: #435274;
  font-weight: bold;
}
.address_details select {
  border: none;
  background: #f4f4f4;
  height: 34px;
  font-size: 14px;
  color: #435274;
  margin-bottom: 15px;
  border-radius: 7px;
  padding: 5px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.address_details input {
  border: none;
  background: #f4f4f4;
  height: 34px;
  font-size: 14px;
  color: #435274;
  margin-bottom: 15px;
  border-radius: 7px;
  padding: 5px 10px;
}
.radio {
  margin: 10px 0;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  margin: 0;
  height: 18px;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #fff;
  border-radius: 100%;
  border: 1px solid #435274;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 0;
  margin-left: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #fff;
  border: 5px solid #435274;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #435274;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.checkbox .form-group label {
  position: relative;
  cursor: pointer;
}
.checkbox .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #435274;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: sub;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}
.checkbox .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #435274;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox mark {
  padding: 0.2em;
  background-color: transparent;
  color: #ff7360;
}
.address_details button {
  background: #ffb9af;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -15px;
  cursor: pointer;
}
.address_details button:hover {
  background: #435274;
}
.Eureka_Course .about_eureka {
  padding-top: 0;
}
.slider_data {
  margin-top: 80px;
}
.slider_data h2 {
  margin: 0px 0 30px;
}
.buycourses {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.11);
  padding: 20px;
  text-align: center;
}
.buycourses strong {
  display: block;
  font-size: 28px;
  color: #435274;
  margin: 15px 0 5px;
  line-height: 34px;
}
.buycourses button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -25px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}
.buycourses button:hover {
  background: #435274;
}
.Renewable_Energey_Courses {
  margin: 100px 0;
}
.Renewable_Energey_Courses ul {
  margin-top: 40px;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}
.Renewable_Energey_Courses li {
  background: #f4f4f4;
  border-radius: 15px;
  margin-bottom: 80px;
}
.Renewable_Energey_Courses li:last-child {
  margin-bottom: 0px;
}
.Energeyimg, .Energeytext {
  width: 50%;
  float: right;
  height: 280px;
}
.Energeyimg img {
  border-radius: 0 15px 15px 0 !important;
}
.Energeytext {
  padding: 30px;
  position: relative;
}
.Energeytext h2 {
  font-size: 28px;
  color: #ff7360;
  font-weight: bold;
}
.Energeytext small {
  font-size: 16px;
  color: #435274;
  font-weight: 300;
}
.Energeytext p {
    font-size: 16px;
    color: #435274;
    line-height: 22px;
    margin: 15px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 90px;
}
.Energeytext strong {
  font-size: 28px;
  color: #435274;
  display: block;
}
.Energeytext button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  left: 30px;
  margin: auto;
  bottom: -25px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}
.Energeytext button:hover {
  background: #435274;
}
.Included_Items .lessons-slider-area {
  padding-left: 0px;
  display: flex;
  margin-top: 20px;
  padding-right: 220px;
}
 .Included_Items #lessons-two .owl-nav {
  display: flex;
  position: absolute;
  top: -90px;
  right: auto;
  left: 20px;
}
.Included_Items h5 {
  margin-bottom: 50px;
}
.Robotics_kit {
  margin: 30px 0 60px;
}
.kittext h2 {
  margin: 15px 0;
}
.kitimg {
  border: 2px solid #f4f4f4;
  border-radius: 15px;
  text-align: center;
}
.kitimg img {
  border-radius: 15px;
}
.kittext span {
  color: #435274;
  display: block;
  margin-bottom: 25px;
}
.kittext img {
  margin-right: 5px;
  vertical-align: text-bottom;
  display: initial;
  width: auto;
}
.kittext p {
  font-size: 16px;
  color: #435274;
}
.kittext .sub-unsub {
  display: flex;
}
.kittext .sub-unsub p {
  margin-right: 0;
  padding-left: 15px;
  font-size: 14px;
  border-left: 1px solid #bab9c1;
  margin-bottom: 0;
}
.kittext .sub-unsub form button { vertical-align: text-top; margin-right: 15px; margin-top: 5px; }
.kittext .sub-unsub p:last-child {
  border-right: none;
  margin-right: 0;
}
.kittext .sub-unsub span {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0 0;
  line-height: 26px;
}
.Related_items {
  margin: 100px 0;
}
#Related_items {
  padding-right: 220px;
  margin-top: 50px;
  padding-left: 0;

}
#Related_items .owl-stage-outer {
  padding-bottom: 30px;
}
#Related_items .owl-item .product-title img {
  width: auto;
  display: inline-block;
}
#Related_items .main-pic {
  border: 2px solid #f4f4f4;
  border-radius: 15px 15px 0 0;
}
#Related_items .main-pic img {
  border-radius: 15px 15px 0 0;
}
#Related_items .product-title {
  background: #f4f4f4;
  padding: 30px 30px 60px 30px;
  border-radius: 0 0 15px 15px;
}
#Related_items .product-title button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -22px;
  cursor: pointer;
}
#Related_items .owl-nav {
  display: flex;
  position: absolute;
  top: -90px;
  left: 20px;
  justify-content: space-between;
  width: auto;
  flex-direction: row-reverse;
}
#Related_items .owl-nav button {
  font-size: 44px;
  height: 36px;
  width: 36px;
  color: #dcdcdc;
}
#Related_items .owl-nav button.owl-prev {
  margin-right: 20px;
}
#Related_items .owl-nav button:hover {
  color: #ff7360;
  transform: scale(1.5);
  margin-top: -4px;
}
#Related_items .product-title .sub-unsub {
  display: flex;
}
#Related_items .product-title span {
  margin: 15px 0 25px;
}
#Related_items .product-title span img {
  margin-right: 5px;
  vertical-align: text-bottom;
  display: initial;
  width: auto;
}
#Related_items .product-title .sub-unsub p {
  margin-right: 12px;
  padding-right: 12px;
  font-size: 14px;
  border-right: 1px solid #bab9c1;
  margin-bottom: 0;
}
#Related_items .product-title .sub-unsub p:last-child {
  border-right: 0px solid #bab9c1;
}
#Related_items .product-title .sub-unsub span {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0 0;
  line-height: 26px;
  display: block;
}
/*09-04*/
.login-page h1 {
  margin-bottom: 40px;
}
.login-page input, .login-page select {
  border-radius: 0;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.login-page input:focus, .login-page select:focus {
  box-shadow: none;
  border: 1px solid #ff7360;
}
.login-page select {
  background: url("../images/select-bg.png") no-repeat;
  background-position: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.login-page button {
  background: #ff7360;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 25px;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.login-page button:hover {
  background: #435274;
  color: #fff;
}
.login-page button:focus {
  box-shadow: none;
}




/*=============================================================================================
                          
                          HOME KIT CSS START HERE

=============================================================================================*/

.Kits_slider .Kits_slider_area {
  padding-left: 0;
}
#Kits .owl-nav { 
  display: flex; 
  position: absolute; 
  top: -60px; 
  left: 25px; 
  justify-content: space-between; 
  width: 100px; 
  flex-direction: row-reverse; 
}

#Kits .owl-nav button {
  font-size: 44px;
  height: 36px;
  width: 36px;
  color: #dcdcdc;
}
#Kits .owl-nav button.owl-prev {
  margin-right: 20px;
}
#Kits .owl-nav button:hover {
  color: #ff7360;
  transform: scale(1.5);
  margin-top: -4px;
}
#Kits .style-half .main-pic{
  width: 40%;
}
#Kits .style-half .product-title{
  width: 60%;
}

.productlist {
    padding: 100px 0;
}
.productlist  .product-title .sub-unsub {
    display: flex;
}
.productlist .product-title .sub-unsub p {
  margin-right: 12px;
  padding-right: 12px;
  font-size: 14px;
  border-right: 1px solid #bab9c1;
  margin-bottom: 0;
}
.productlist .product-title .sub-unsub span {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0 0;
    line-height: 26px;
    display: block;
}
.productlist .product-title .sub-unsub p:last-child {
    border-right: 0px solid #bab9c1;
    margin-right: 0;
  padding-right: 0;
}
.productlist .product-title button {
    background: #ff7360;
    color: #fff;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    font-weight: 700;
    border-radius: 30px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom:-15px;
    cursor: pointer;
}
.productlist .product-title button:hover {
    background: #435274;
    text-align: center; 
    padding: 20px 0;
}
.productlist .product-title {
    background: #f4f4f4;
    padding: 30px 30px 50px 30px;
    border-radius: 0 0 15px 15px;
    position: relative;
}
.productlist .main-pic {
    border: 2px solid #f4f4f4;
    border-radius: 15px 15px 0 0;
    text-align: center; 
    padding: 20px 0;
}
.productlist .main-pic img {
    border-radius: 15px 15px 0 0;
}
.productlist .style-full.style-half {
    margin-bottom:50px;
}
.productsearch{
  position: relative;
  margin-bottom: 30px;
}
.productsearch input {
  height: 40px;
  padding: 5px 40px 5px 10px;
  color: #b4b4b4;
  font-size: 16px;
  border: 1px solid #ced4da;
}

.productsearch input::-webkit-input-placeholder {color:#b4b4b4;}
.productsearch input::-moz-placeholder {color:#b4b4b4;}
.productsearch input:-ms-input-placeholder {color:#b4b4b4;} 
.productsearch input:-moz-placeholder {color:#b4b4b4;}

.productsearch select{
  background: url(../images/select-bg.png) no-repeat;
  background-position: right;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  height: 40px;
  padding:5px 7px;
  color: #b4b4b4;
  font-size: 16px;
  border: 1px solid #ddd;
}
.productsearch button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-size:18px;
  color: #b4b4b4;
  padding: 0;
  width: 36px;
  text-align: center;
  line-height: 40px;
}

.pagination{
  margin-top: 50px;
}
.page-link {
  position: relative;
  display: block;
  padding: 5px 15px;
  margin:0 1px;
  line-height: 1.25;
  color: #fff;
  background-color: #435274;
  border:none;
  font-size:18px;
  border-radius: 0;
}
.page-item.disabled .page-link,
.page-item:last-child .page-link {
  color: #121313;
  background-color: #f1f1f1;
  border:none;
  border-radius: 0;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-link:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #ff7360;
  border:none;
}
.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: none;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ff7360;
  border:none;
}




/* ============================================================= */


.timeline {
  position: relative;
  padding: 50px 0;
}
.timeline::before {
  content: '';
  background: rgba(67, 82, 116, 0.3);
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: left;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
   left: 0;
    right: auto;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #435274;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../images/Energeyimg-1.jpg") center center no-repeat;
  
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #ff7360;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .timeline-item:nth-child(2n) .timeline-content .date {
    right: 0;
    left: auto;
  }
}
/*------------------------------------------------
                GALLERY CSS START
------------------------------------------------*/

.gallery{
  padding: 70px 0;
}
.gallery  .content{
  padding-left: 80px;
}
.brand {
  text-align: center;
}

.brand img {
  width: 50px;
}

#portfolio p {
	color: grey;
	font-size: 12px;
	font-weight: 200;
}

.content {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.single-content img {
	width: 290px;
	height: 100%;
  /* margin: 10px; */
  border: 3px solid #dddddd;
}

.filters {
	width: 100%;
	text-align: center;
}
.filters ul{
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  padding: 0;
}

.filters li {
	display: inline-block;
	padding: 7px 25px;
	font-size: 14px;
	color: #435274;
	font-weight: 400;
	cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.filters li:hover {
	color: #ff7360;
}

.filters li.active {
	background: #ff7360;
	color: #fff;
	border:none;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  width: auto;
  right: 0;
  bottom: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: auto;
  left: auto;
  height: auto;
}
.ekko-lightbox-nav-overlay a {
    color: #000;
    font-size: 18px;
    background: #fff;
    width: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    height: 32px;
    margin-left: 15px;
    opacity: 1;
    justify-content: center;
    display: block;
}
.ekko-lightbox-nav-overlay a span {
    padding: 0;
}
.single-content{
  margin: 10px;
  overflow: hidden;
}



/*-------------------------------------------- 
      
    NOTIFICATION CSS START HERE 19-05-2020

--------------------------------------------*/


.notification{
  padding: 50px 0;
}

.noti_search input{
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #435274;
  color: #435274;
  font-size: 16px;
}
.notimark {
  text-align: right;
  margin-top: 8px;
}
.notimark a {
	color: #435274;
	font-size: 18px;
	margin-left: 30px;
}
.notimark a:hover{
  color: #ff7360;
}
.notification .MPB{
  margin-top: 20px;
  margin-bottom: 20px;
}
.noti_list li {
	background: #fff;
	padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
.noti_list li:hover{
	background: #f5f5f5;
}
.noti_list li i {
	color: #435274;
	font-size: 28px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 0;
}
.noti_list li p{
	float: left;
  width: 85%;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}
.noti_list .form-group{
  display: inline-block;
  margin-right: 5px;
}
.noti_list .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.noti_list .form-group label {
  position: relative;
  cursor: pointer;
}
.noti_list .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #435274;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius:50%
}
.noti_list .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  background: #ff7360;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}
.checkboximg {
  width: 150px;
  float: left;
}

.ellishbox {
	position: absolute;
	background: #435274;
	z-index: 1;
	right:40px;
	top: 0px;
  padding: 10px;
  visibility: hidden;
  height:0px;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ellishbox a{
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  opacity: 0;
}
.ellishbox a:last-child{
  margin-bottom: 0;
}
.ellishbox a i{
  color: #fff;
  position: initial;
  font-size: 18px;
  margin-right: 5px;
}
.ellishbox a:hover,
.ellishbox a:hover i{
  color: #ff7360;
}
.noti_list li.active .ellishbox{
  visibility: visible; 
  height: 100%;
}
.noti_list li.active .ellishbox a{
  opacity: 1;
}

.loadmorebtn {
	background: #ff7360;
	color: #fff;
	font-size: 20px;
	padding: 10px 30px;
	border: none;
	font-weight: 700;
	border-radius: 30px;
  margin: 30px auto 0;
  display: block;
	cursor: pointer;
}
.loadmorebtn:hover{
	background:#435274;
  color: #fff;
}
.loadmorebtn i{
  margin-right: 10px;
}



.overlay a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background:rgba(4,56,100,0.8);
    color: #fff;
    font-size: 36px;
    padding: 20px;
    display: flex;
    justify-content: center;
   flex-flow: column;
    -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.single-content:hover .overlay a{
  top: 0;
}

.overlay a i {
    position: absolute;
    top: 15px;
    color: #ffc03b;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    right: 15px;
    z-index: 1;
}
.overlay a p {
    font-size: 20px;
    margin-bottom: 0;
    color: #fff;
}
.overlay a span {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
}
.overlay a:after {
    content: "";
    background: #fff;
    width: 86%;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    top: 40px;
    margin: auto;
    z-index: 0;
}


.modal-body{
  padding: 0;
}
.modal-dialog {
    max-width: 650px !important;
    margin: 1.75rem auto;
}
.ekko-lightbox-container {
    height: 500px !important;
}
.ekko-lightbox-container  .img-fluid {
    max-width: 100%;
    height: 100%;
}

.portfolio-slides li {
    float: left;
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
    height: 250px;
}
.portfolio-slides li img{
  border: 3px solid #dddddd;
  width: 100%;
  height: 100%;
}
.portfolio-slides ul {
    margin: 0 -15px;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.modal-content {
    position: relative;
    /*background-color: transparent;*/
    border: 1px solid #999999;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
#myGallery img{
  width: 100%;
  height:450px;
}
#myGallery .carousel-control.left {
    background-image: none;
    top: auto;
    bottom: -20px;
    right: 60px;
    left: auto;
}
#myGallery .carousel-control.right {
    background-image: none;
    top: auto;
}
#myGallery .carousel-control {
    width: 34px;
    height: 34px;
    line-height:38px;
    font-size: 26px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    text-shadow: none;
    display: inline-block;
    margin-top: 10px;
}



/* new css 29-05 */

.serchkey{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Search_Results li{
  background: #f5f5f5;
  padding: 15px;
  margin-bottom: 10px;
}
.Search_Results li h6{
  font-weight: bold;
}

.contactbox{
  text-align: center;
  background: #435274;
  padding: 15px;
  margin-top: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contactbox .imgdiv{
  display: block;
  margin: 0 auto 20px;
  width: 70px;
  background: #ff7360;
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contactbox span{
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  margin-bottom: 10px;
}

.contactbox a{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
}

.contactbox .contactsocial a {
  font-weight: normal;
  display: inline-block;
  border: 1px solid;
  width: 28px;
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  margin: 0 3px;
}
.contactbox a:hover{
  color: #ff7360;
}

.get_touch{
  margin:50px 0;
}
.get_touch h1{
  margin-bottom:20px;
}
.get_touch select {
    background: url(../images/select-bg.png) no-repeat;
    background-position: right;
    border: 1px solid #ced4da;
    height: 38px;
    padding: 5px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.get_touch input, .get_touch select {
    border-radius: 0;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.get_touch textarea{
  border: 1px solid #ced4da;
  height:100px;
  resize: none;
}
.gettouchform form button{
  font-size: 14px;
  color: #fff;
  background: #ff7360;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.gettouchform form button:hover {
    background: #435274;
}
